<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클 MyBatis 사용시 문장 끝에 세미콜론 있으면 오류남! -->

<mapper namespace="com.itwillbs.repository.LeaveMapper">
    <select id="getLeaveList" resultType="map">
    	SELECT
				L.MEMBER_ID 
			  , M.NAME
			  , CCD.CODE_NAME AS DEPT_NAME 
			  , CCG.CODE_NAME  AS GRADE_NAME
			  , L.TOTAL_DAYS 
			  , L.USED_DAYS 
			  , L.REMAINING_DAYS 
		  FROM
		  		LEAVE L
	 LEFT JOIN
	 			MEMBER M
								ON L.MEMBER_ID = M.MEMBER_ID 
	 LEFT JOIN  COMMON_CODE CCD
								ON M.DEPT_ID = CCD.CODE_ID
	 LEFT JOIN  COMMON_CODE CCG 
								ON M.GRADE_ID = CCG.CODE_ID 
		 WHERE  M.USE_YN = 'Y'
		 						AND L.YEAR = EXTRACT(YEAR FROM SYSDATE)
    </select>
    
    <select id="getLeaveHisList" resultType="map">
		SELECT 
				CC.CODE_NAME 
			  , LH.START_DATE 
			  , LH.END_DATE 
			  , LH.USED_DAYS 
		  FROM
		  		LEAVE_HISTORY LH
	 LEFT JOIN 
	 			COMMON_CODE CC
	 							ON LH.LEAVE_TYPE_ID  = CC.CODE_ID
		 WHERE
		 		LH.MEMBER_ID = #{MEMBER_ID}
	  ORDER BY
	  			LH.START_DATE DESC
    </select>
    
</mapper>
