<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클 MyBatis 사용시 문장 끝에 세미콜론 있으면 오류남! -->

<mapper namespace="com.itwillbs.repository.LotsMapper">
	
	<select id="selectLots" resultType="map">
		SELECT
			   PL.PRODUCTION_LOT_ID 
			 , IT.ITEM_ID 
			 , IT.ITEM_NAME 
		  FROM
		  	   PRODUCTION_LOT PL 
	INNER JOIN 
			   ITEM IT ON PL.ITEM_ID = IT.ITEM_ID 
		WHERE
			   IT.ITEM_TYPE = '완제품'
    </select>
    
	<select id="selectLotHierarchy" resultType="map">
		SELECT DISTINCT
		    LEVEL,
		    PL.PRODUCTION_LOT_ID,
		    POD.PRODUCTION_ORDER_ID,
		    PMD.ITEM_LOT
		FROM 
		    PRODUCTION_LOT PL
		JOIN 
		    PRODUCTION_ORDER_DETAIL POD ON PL.PRODUCTION_ORDER_DETAIL_ID = POD.PRODUCTION_ORDER_DETAIL_ID
		JOIN 
		    PUT_MATERIALS PM ON POD.PRODUCTION_ORDER_DETAIL_ID = PM.PRODUCTION_ORDER_DETAIL_ID
		JOIN 
		    PUT_MATERIALS_DETAIL PMD ON PM.PUT_MATERIALS_ID = PMD.PUT_MATERIALS_ID
		START WITH 
		    PL.PRODUCTION_LOT_ID = #{lotId} 
		CONNECT BY PRIOR 
		    PMD.ITEM_LOT = PL.PRODUCTION_LOT_ID
		ORDER BY 
		    LEVEL, PL.PRODUCTION_LOT_ID
	</select>
    
	<select id="selectLotDetailInfo" resultType="map">
		SELECT PO.PO_ID , PO.MEMBER_ID , C.CLIENT_NAME , C.CLIENT_TYPE , C.CEO_NAME ,  C.CLIENT_ADDRESS || C.ADDRESS_DETAIL AS CLIENT_ADDRESS, C.CLIENT_TEL, C.RESP_NAME || '(' || C.RESP_EMAIL || ')' AS REST_NAME    , MC.SUB_NAME
		FROM PURCHASE_ORDER po
		INNER JOIN MES_COMMON mc ON PO.PO_STATUS = MC.SUB_ID
		INNER JOIN CLIENT C ON PO.CLIENT_ID = C.CLIENT_ID 
		WHERE PO_ID = (
			SELECT po_id
			FROM INBOUND_LOTS
			WHERE LOT_ID = #{select_id}
		)
	</select>
	
	<select id="selectMaterialInfo" resultType="map">
		SELECT m.MATERIAL_NAME || '(' || m.MATERIAL_ID || ')' AS material, m.MATERIAL_PRICE , il.QUANTITY 
		FROM INBOUND_LOTS il
		INNER JOIN MATERIAL m ON il.MATERIAL_ID = m.MATERIAL_ID 
		WHERE il.LOT_ID = #{select_id}
	</select>
	
	<select id="selectInboundInspection" resultType="map">
		SELECT ii.INSPECTION_ID , ii.DEFECT_QUANTITY , rc.REJECTION 
		FROM INBOUND_INSPECTION ii
		INNER JOIN REJECTION_CODE rc ON ii.REJECTION_CODE = rc.CODE_ID 
		WHERE ii.PO_ID = #{po_id}
	</select>
</mapper>