<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.repository.MaterialMapper">

	<select id="getMaterialList" resultType="map"
		parameterType="map">
		SELECT
		MATERIAL_ID,
		MATERIAL_NAME,
		TO_CHAR(MATERIAL_PRICE, 'FM9,999,999') ||
		'원' AS MATERIAL_PRICE,
		GROUP_CODE,
		COMMON_CODE,
		UNIT
		FROM
		MATERIAL
		ORDER BY MATERIAL_ID
	</select>

	<insert id="insertMaterial" parameterType="map">
		INSERT INTO MATERIAL (
		MATERIAL_ID,
		MATERIAL_NAME,
		MATERIAL_PRICE,
		GROUP_CODE,
		COMMON_CODE,
		UNIT
		) VALUES (
		LPAD(MATERIAL_SEQ.NEXTVAL, 3, '0'),
		#{MATERIAL_NAME},
		#{MATERIAL_PRICE},
		#{GROUP_CODE},
		#{COMMON_CODE},
		#{UNIT}
		)
	</insert>

	<update id="updateMaterial" parameterType="map">
		UPDATE MATERIAL
		SET
		MATERIAL_NAME = #{MATERIAL_NAME},
		MATERIAL_PRICE = #{MATERIAL_PRICE},
		GROUP_CODE = #{GROUP_CODE},
		COMMON_CODE = #{COMMON_CODE},
		UNIT = #{UNIT}
		WHERE MATERIAL_ID = #{MATERIAL_ID}
	</update>

	<delete id="deleteMaterial" parameterType="map">
		DELETE FROM MATERIAL
		WHERE MATERIAL_ID = #{MATERIAL_ID}
	</delete>

	<select id="searchMaterial" parameterType="map">
		SELECT *
		FROM MATERIAL
		<where>
			<if test="query != null and query != ''">
				AND (
				MATERIAL_NAME LIKE '%' || #{query} || '%'
				OR COMMON_CODE LIKE '%' || #{query} || '%'
				OR GROUP_CODE LIKE '%' || #{query} || '%'
				)
			</if>
		</where>
		ORDER BY MATERIAL_ID
	</select>

</mapper>