<!-- 모달창 -->
<div class="modal fade" id="bomDetailAdd" th:fragment="bomDetailAdd">
	<div class="modal-dialog modal-custom-size">
		<div class="modal-content">
			<!-- 모달창 헤더 -->
			<div class="modal-header">
				<h4 class="modal-title">BOM 상세 내용 추가</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- /.모달창 헤더 -->
			
			<!-- 모달창 바디 -->
			<div class="modal-body">
				<div class="card-body">
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<input type="hidden" id="bomDetailRow" class="form-control">
							</div>
							<div class="col-md-6">
								<input type="hidden" id="bomDetailColumn" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<!-- 검색 필터 -->
								<div class="d-flex justify-content-between bg-secondary rounded p-3 mb-4 m-2">
									<div class="d-flex">
										<div class="d-flex">
											<label class="col-form-label mr-3" style="min-width: 150px;">BOM 코드 / 품목 코드</label> 
											<input type="text" class="form-control float-right" id="bomDetailSearchKeyword">
										</div>
									</div>
									<div class="d-flex">
										<button type="button" class="btn btn-primary" id="btnBomDetailSearch">조회</button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<span style="padding-left: 20px;">BOM 상세 목록</span>
								<div class="card-body" id="bomDetailModalGrid" style="padding-top: 10px;">
									<!-- Toast Grid Ajax -->
								</div>
							</div>
							<div class="col-md-4">
								<span style="padding-left: 20px;">선택 목록</span>
								<div class="card-body" id="bomDetailModalSelectedGrid" style="padding-top: 10px;">
									 <!-- Toast Grid Ajax -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.모달창 바디 -->
			<!-- 모달창 푸터-->
			<div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" id="savebomDetail">적용</button>
				</div>
			</div>
			<!-- /.모달창 푸터-->
		</div>
	</div>
</div>
<!-- /.모달창 -->

<script th:fragment="bomDetailAdd" th:inline="javascript">
	let bomDetailModalGrid = null;
	let selectedBomDetailList = [];
	let bomDetailModalSelectedGrid = null;
	const bomDetailSelected_columns = [
	    {header: 'BOM 상세 코드', name: 'BOM_DETAIL_ID', align: 'center', editor: null},
	    {header: '설비명', name: 'EQUIPMENT_NAME', align: 'left', editor: null},
	];
	let bomDetailParam = {searchKeyword: ''};
	
	$('#bomDetailAdd').on('shown.bs.modal', function () {
		selectedBomDetailList.length = 0;
		bomDetailParam.searchKeyword = '';
        
		bomDetailModalInit();
	});
	
	function bomDetailModalInit() {
		// 파라미터 설정
		bomDetailDataSource.api.readData.initParams.bom_id = '';
		
		if (bomDetailModalGrid) {
			bomDetailModalGrid.destroy(); // 기존 그리드 제거
			bomDetailModalGrid = null;
		}
		
		bomDetailModalGrid = new tui.Grid({
	        el: document.getElementById('bomDetailModalGrid'),
	        data: bomDetailDataSource,
	        scrollX: true,
	        scrollY: true,
	        bodyHeight: 250,
	        columns: bomDetail_columns,
	    });
		
	    bomDetailModalGrid.on('failResponse', function(ev) {
	        alert(JSON.parse(ev.xhr.responseText).message);
	    });
	    
	    // 테이블 데이터 렌더링 완료후에 실행 (테이블 출력이 끝나는 정확한 타이밍을 못잡아서 onGridMounted로 잡고 후처리)
	    bomDetailModalGrid.on('onGridMounted', () => {
		    // 테이블 출력 완전히 끝난 후 데이터 가져오는 함수
		    const checkGridRendered = () => {
		        setTimeout(() => {
		            if (bomDetailModalGrid.getData().length > 0) {
		    	    	const bomDetailGridNewRows = bomDetailGrid.getData().filter(row => row.isNew);
		    		    const selectedRowKeys = bomDetailModalGrid.getData()
		    			    .filter(row => bomDetailGridNewRows.some(newRow => newRow.BOM_DETAIL_ID == row.BOM_DETAIL_ID))
		    			    .map(row => row.rowKey);
		    		    
		    		    // BOM 상세 그리드에서 새로 추가된 행 가져와서 BOM 상세 모달에 선택값 그대로 적용함.
		    		    selectedRowKeys.forEach(function(key) {
			    		    bomDetailModalGrid.addRowClassName(key, 'selected-row');
		    		    });
		    		    
		    		    // BOM 상세 그리드에서 새로 추가된 행 selectedBomDetailList 초기값 설정
		    		    bomDetailGridNewRows.forEach(function(row) {
		    		    	const mapRowData = {
		    		        	"BOM_DETAIL_ID": row.BOM_DETAIL_ID,
		    		        	"ITEM_ID": row.ITEM_ID,
		    		        	"REQUIRED_AMOUNT": row.REQUIRED_AMOUNT,
		    		        	"BOM_ID": bomCurrentSelectedID,
		    		            isNew: true
		    			    };
		    		    	
		    		    	selectedBomDetailList.push(mapRowData);
		    		    });
						
						// selectedBomDetailList 배열을 다 채우고나서 실행해야 값을 가져올 수 있음. 타이밍 유의! 
						bomDetailModalSelectedInit();
		            } else {
		                checkGridRendered(); // 데이터가 없으면 다시 체크
		            }
		        }, 100);
		    };

		    checkGridRendered(); // 실행
	    });
	    
	    bomDetailModalGrid.on('click', (ev) => {
		    if (ev.targetType != "cell") {
				return;
			}
			
		    const newRowKey = ev.rowKey;
		    const isSelectedRow = bomDetailModalGrid.getRowClassName(newRowKey).includes('selected-row');
		    const rowData = bomDetailModalGrid.getRow(newRowKey);
		    const bomDetail_id = rowData.BOM_DETAIL_ID;
		    
		    if (isSelectedRow) {
		    	bomDetailModalGrid.removeRowClassName(newRowKey, 'selected-row');
		    	selectedBomDetailList = selectedBomDetailList.filter(item => item.BOM_DETAIL_ID != bomDetail_id);
				
				bomDetailModalSelectedGrid.getData().forEach(row => {
				    if (bomDetail_id == row.BOM_DETAIL_ID) {
						bomDetailModalSelectedGrid.removeRow(row.rowKey)
				    }
				});
		    } else {
		    	const mapRowData = {
		        	"BOM_DETAIL_ID": bomDetail_id,
		        	"ITEM_ID": rowData.ITEM_ID,
		        	"REQUIRED_AMOUNT": rowData.REQUIRED_AMOUNT,
		        	"BOM_ID": bomCurrentSelectedID,
		            isNew: true
			    };
		    	
		    	selectedBomDetailList.push(mapRowData);
		    	bomDetailModalGrid.addRowClassName(newRowKey, 'selected-row');
				
				bomDetailModalSelectedGrid.appendRow(mapRowData);
		    }
		});
	}
	
	$("#savebomDetail").on('click', function() {
		const rowKeysToDelete = bomDetailGrid.getData()
		    .filter(row => row.isNew)
		    .map(row => row.rowKey);
		
		// BOM 상세 그리드 기존의 새로 추가된 행 삭제
		rowKeysToDelete.forEach(function(key) {
			bomDetailGrid.removeRow(key);
		});
		
		// 새로 선택된 값  BOM 상세 그리드 행 추가
		selectedBomDetailList.forEach(function(data) {
			bomDetailGrid.appendRow(data);
		});
		
		$("#bomDetailAdd").modal('hide');
	});
	
	function bomDetailModalSelectedInit() {
		if (bomDetailModalSelectedGrid) {
			bomDetailModalSelectedGrid.destroy(); // 기존 그리드 제거
			bomDetailModalSelectedGrid = null;
		}
		
		bomDetailModalSelectedGrid = new tui.Grid({
	        el: document.getElementById('bomDetailModalSelectedGrid'),
			data: selectedBomDetailList,
	        scrollX: true,
	        scrollY: true,
	        bodyHeight: 250,
	        columns: bomDetailSelected_columns,
	    });
		//setBomDetailModalSelectedGridColor();
		
		bomDetailModalSelectedGrid.on('click', (ev) => {
			if (ev.targetType != "cell") {
				return;
			}
			
			const newRowKey = ev.rowKey;
			const rowData = bomDetailModalSelectedGrid.getRow(newRowKey);
			const allData = bomDetailModalSelectedGrid.getData();
			
			const bomDetail_id = rowData.BOM_DETAIL_ID;
			selectedBomDetailList = selectedBomDetailList.filter(item => item.BOM_DETAIL_ID != BomDetail_id);
			
			bomDetailModalSelectedGrid.removeRow(newRowKey);
			
			bomDetailModalGrid.getData().forEach(row => {
			    if (bomDetail_id == row.BOM_DETAIL_ID) {
			        bomDetailModalGrid.removeRowClassName(row.rowKey, 'selected-row');
			    }
			});
		});
    };
	
	$("#btnBomDetailSearch").on("click", function() {
		bomDetailParam.searchKeyword = $("#bomDetailSearchKeyword").val();
		
		const selectedBomDetailIds = selectedBomDetailList.map(row => row.BOM_DETAIL_ID);
		bomDetailModalGrid.readData(1, bomDetailParam, true);

		bomDetailModalGrid.off('onGridUpdated');
		bomDetailModalGrid.on('onGridUpdated', () => {
		    const updatedRows = bomDetailModalGrid.getData();
			
		    // 기존 선택된 BOM 상세 ID가 있는 행에 'selected-row' 클래스 추가
		    updatedRows.forEach(row => {
		        if (selectedBomDetailIds.includes(row.BOM_DETAIL_ID)) {
		            bomDetailModalGrid.addRowClassName(row.rowKey, 'selected-row');
		        }
		    });
		});
	});
	
	function setBomDetailModalSelectedGridColor() {
		bomDetailModalSelectedGrid.getData().forEach((row, index) => {
		    bomDetailModalSelectedGrid.addRowClassName(index, 'selected-row');
		});
	}
</script>
