<!-- 모달창 -->
<div class="modal fade" id="excelModal" th:fragment="excelModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- 모달창 헤더 -->
			<div class="modal-header">
				<h4 class="modal-title">엑셀 모달창</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- /.모달창 헤더 -->
			
			<!-- 모달창 바디 -->
			<div class="modal-body">
				<div class="card-body">
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<input type="hidden" id="excelRow" class="form-control">
							</div>
							<div class="col-md-6">
								<input type="hidden" id="excelColumn" class="form-control">
							</div>
						</div>
						<div class="row">
							<label>엑셀</label>
							<div class="input-group">
								<input type="text" id="excelCode" class="form-control" placeholder="코드를 입력하세요">
								<div class="input-group-append">
									<button class="btn btn-primary" id="checkDuplicateCodeBtn" type="button">중복확인</button>
									<button class="btn btn-primary" id="modifyCodeBtn" type="button" style="display: none;">수정</button>
								</div>
							</div>
							<span id="validationExcelCodeMessage" class="form-text mt-1"></span>
						</div>
					</div>
				</div>
			</div>
			<!-- /.모달창 바디 -->
			<!-- 모달창 푸터-->
			<div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" id="excelsaveCode" disabled>입력</button>
				</div>
			</div>
			<!-- /.모달창 푸터-->
		</div>
	</div>
</div>
<!-- /.모달창 -->

<script th:fragment="excelModal" th:inline="javascript">

	// 엑셀 파일 업로드 및 데이터 출력
	function uploadExcel() {
		let fileInput = document.getElementById('excelFile');
		let file = fileInput.files[0];
	
		if (!file) {
			alert("파일을 선택하세요.");
			return;
		}
	
		let formData = new FormData();
		formData.append("file", file);
	
		$.ajax({
			url: "/ajax/uploadExcel", // 서버 업로드 URL
			type: "POST",
			data: formData,
			processData: false,
			contentType: false,
			success: function (res) {
				console.log("엑셀 데이터 : ", res);
				grid1.resetData(res); // Toast UI Grid에 데이터 바인딩
			},
			error: function (err) {
				console.error("업로드 실패 : ", err);
				alert("엑셀 업로드 중 오류가 발생했습니다.");
			}
		});
	}
	
	// 엑셀 파일 업로드시 수정된 행(row)만 db에 업데이트
	function updateExcelData() {
		let fileInput = document.getElementById('excelFile');
		let file = fileInput.files[0];
	
		if (!file) {
			alert("파일을 선택하세요.");
			return;
		}
	
		let formData = new FormData();
		formData.append("file", file);
	
		$.ajax({
			url: "/ajax/updateExcelData",
			type: "POST",
			data: formData,
			processData: false,
			contentType: false,
			success: function (res) {
				alert(res.message);
				grid1.reloadData();  // 업로드 후 그리드 새로고침
			},
			error: function (xhr, status, err) {
				console.error("db 업데이트 실패 : ", err);
				alert("엑셀 db 업데이트 중 오류가 발생했습니다.");
			}
		});
	}
	
	// 엑셀 파일 다운로드
	function downloadExcel() {
		// test용 엑셀 파일
		const sheetName = "테스트 데이터";
		const fileName = "테스트 데이터.xlsx";
	
		// Grid 데이터 가져오기
		const jsonData = grid1.getData(); // getData() 사용
		const headers = grid1.getColumns().map(col => col.name);
		const data = jsonData.map(row => grid1.getColumns().map(col => row[col.name] || ""));
	
		// 엑셀 시트 생성
		const worksheet = XLSX.utils.aoa_to_sheet([headers, ...data]);
	
		// 컬럼 자동 너비 조정
		const colWidths = headers.map(header => ({wch: header.length + 5}));
		worksheet['!cols'] = colWidths;
	
		// 워크북 생성
		const workbook = XLSX.utils.book_new();
		XLSX.utils.book_append_sheet(workbook, worksheet, sheetName);
	
		// 파일 다운로드
		XLSX.writeFile(workbook, fileName);
	}
	
	// 엑셀 양식 다운로드 (test)
	function downloadExcelTemplate() {
		// 급여 테이블로 테스트
		const tableName = prompt("다운로드할 테이블(양식)명을 입력하세요.", "TEST");
	
		if (!tableName) {
			alert("테이블(양식)명을 입력하세요.");
			return;
		}
	
		$.ajax({
			//url: `/ajax/downloadTemplate?tableName=${tableName}`,
			url: "/ajax/downloadTemplate?tableName=" + tableName,
			method: "GET",
			xhrFields: {
				responseType: "blob"  // 바이너리 데이터로 응답 받기
			},
			success: function (data) {
				// 바이너리 데이터를 URL 객체로 변환 및 새로운 <a> (링크) 요소 생성
				const url = window.URL.createObjectURL(data);
				const a = document.createElement("a");
	
				// 다운로드 속성 설정
				a.href = url;
				a.download = tableName + "_template.xlsx";
				//a.download = `${tableName}_template.xlsx`;
	
				// 링크를 클릭하여 다운로드 시작
				document.body.appendChild(a);
				a.click();
				document.body.removeChild(a);
	
				// URL 해제
				window.URL.revokeObjectURL(url);
			},
			error: function (xhr, status, error) {
				console.error("다운로드 실패 : ", error);
			}
		});
	}
	
</script>
