<!-- 모달창 -->
<div class="modal fade" id="itemCodeAdd" th:fragment="itemCodeAdd">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- 모달창 헤더 -->
			<div class="modal-header">
				<h4 class="modal-title">코드 중복 확인</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- /.모달창 헤더 -->

			<!-- 모달창 바디 -->
			<div class="modal-body">
				<div class="card-body">
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<input type="hidden" id="itemRow" class="form-control">
							</div>
							<div class="col-md-6">
								<input type="hidden" id="itemColumn" class="form-control">
							</div>
						</div>
						<div class="row">
							<label>품목 코드</label>
							<div class="input-group">
								<input type="text" id="itemCode" class="form-control"
									placeholder="코드를 입력하세요">
								<div class="input-group-append">
									<button class="btn btn-primary" id="checkDuplicateCodeBtn" type="button">중복확인</button>
									<button class="btn btn-primary" id="modifyCodeBtn" type="button" style="display: none;">수정</button>
								</div>
							</div>
							<span id="validationItemCodeMessage" class="form-text mt-1"></span>
						</div>
					</div>
				</div>
			</div>
			<!-- /.모달창 바디 -->
			<!-- 모달창 푸터-->
			<div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					<button type="submit" class="btn btn-primary" id="saveCode" disabled>입력</button>
				</div>
			</div>
			<!-- /.모달창 푸터-->
		</div>
	</div>
</div>
<!-- /.모달창 -->

<script th:fragment="itemCodeAdd" th:inline="javascript">
	const dangerText = "form-text text-danger mt-1";
	
	$("#checkDuplicateCodeBtn").on("click", function() {
		const itemCode = $("#itemCode").val().trim();
		
		if (itemCode == null || itemCode == '') {
			validationItemCodeMessage.textContent = "코드를 입력하세요.";
			validationItemCodeMessage.className = dangerText
			
			return;
		}
		
		const filteredValues = itemGrid.getData()
		    .filter(row => row.isNew)
		    .map(row => row['ITEM_ID']);

		if (filteredValues.includes(itemCode)) {
			validationItemCodeMessage.textContent = '신규 행에서의 중복입니다.';
			validationItemCodeMessage.className = dangerText
			$("#saveCode").attr("disabled", true);
			
			return;
		}
		
		$.ajax({
            type : "POST",
            url : "/iteminfo/checkDuplicateItemCode",
            data : {
            	ITEM_ID : itemCode
			},
            success : function(res){
				if (res.resultCode == 1) {
					validationItemCodeMessage.textContent = res.result;
					validationItemCodeMessage.className = "form-text text-success mt-1";
					$("#itemCode").attr("disabled", true);
					$("#saveCode").attr("disabled", false);
					
					$("#checkDuplicateCodeBtn").hide();
					$("#modifyCodeBtn").show();
				} else {
					validationItemCodeMessage.textContent = res.result;
					validationItemCodeMessage.className = dangerText
					$("#saveCode").attr("disabled", true);
				}
            },
            error : function(e){
                console.log("checkDuplicateItemCode() ajax 실패");
            }
        });
	});
	
	$("#saveCode").on("click", function() {
		const itemRow = $("#itemRow").val();
		const itemColumn = $("#itemColumn").val();
		const itemCode = $("#itemCode").val();
		
		itemGrid.setValue(itemRow, itemColumn, itemCode);
		$('#itemCodeAdd').modal('hide');
		
		validationitemCodeMessage.textContent = '';
		$("#saveCode").attr("disabled", true);
	});
	
	$("#modifyCodeBtn").on("click", function() {
		$("#checkDuplicateCodeBtn").show();
		$("#modifyCodeBtn").hide();
		$("#saveCode").attr("disabled", true);
		$("#itemCode").attr("disabled", false);
	});
</script>
