<!--
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-lg">
		생성
	</button>
-->

<!-- 모달창 -->
<div class="modal fade" id="modal-lg" th:fragment="new">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- 모달창 헤더 -->
			<div class="modal-header">
				<h4 class="modal-title">인사정보등록</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- /.모달창 헤더 -->
			
			<!-- form -->
			<form th:action="@{/ajax/addMember}" method="post" id="addMemberForm">
				<input type="hidden" id="member_id" name="MEMBER_ID">
				<!-- 모달창 바디 -->
				<div class="modal-body">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="customFile">프로필 사진</label> 
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="customFile">
										<label class="custom-file-label" for="customFile">Choose file</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>이름</label>
									<input type="text" name="NAME" id="name" class="form-control" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>주민등록번호</label>
									<input type="text" name="RESIDENT_REGIST_NUM" id="resident_num" class="form-control" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>전화번호</label>
									<input type="text" name="PHONE" id="phone" class="form-control" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>이메일</label>
									<div class="row">
										<div class="col-md-5">
											<input type="hidden" id="email" name="EMAIL">
											<input type="text" id="emailId" name="emailId" class="form-control">
										</div>
										<div class="input-group col-md-7">
											<div class="input-group-prepend">
												<span class="input-group-text">@</span>
											</div>
											<select class="form-control select" id="emailDomain" name="emailDomain">
												<option>gmail.com</option>												
												<option>naver.com</option>												
												<option>daum.net</option>												
												<option>nate.com</option>												
												<option>kakao.com</option>												
											</select>		
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- 주소 -->
						<div class="form-group">
							<label for="exampleInputEmail1">주소</label>
							<div class="row">
								<div class="col-md-3">
									<input type="text" class="form-control" name="ADDRESS_NUM" id="postcode" placeholder="우편번호" onclick="exercDaumPostcode()">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-6">
									<input type="text" class="form-control" name="ADDRESS1" id="address1" placeholder="주소">								
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control" name="ADDRESS2" id="address2" placeholder="상세주소">								
								</div>
							</div>
						</div>
						<!-- /.주소 -->
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>입사일자</label>
									<div class="input-group">
										<input type="text" id="join_date" name="JOIN_DATE" class="form-control" placeholder="yyyy-mm-dd" required>
									</div>
								</div>
							</div>
							<!--
							<div class="col-md-6">
								<div class="form-group">
									<label for="exampleInputEmail1" name="">입사구분</label>
									<div class="row">
										<div class="icheck-primary d-inline col-md-6">
											<input type="radio" id="radioPrimary1" name="r1" checked required>
											<label for="radioPrimary1">
												신입
			                        		</label>
		                      			</div>
										<div class="icheck-primary d-inline col-md-6">
											<input type="radio" id="radioPrimary2" name="r2">
											<label for="radioPrimary2">
												경력
											</label>
					                    </div>
									</div>
								</div>
							</div>
							-->
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="exampleInputEmail1">부서명</label>
									<select class="form-control select" id="department" name="DEPT_ID" required>
										<option selected="selected" disabled>부서선택</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="exampleInputEmail1">직급</label>
									<select class="form-control select" id="grade" name="GRADE_ID" required>
										<option selected="selected" disabled>직급선택</option>												
									</select>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label for="exampleInputEmail1">계좌번호</label>
							<div class="row">
								<div class="col-md-3">
									<select class="form-control select" id="bank_code" name="BANK_CODE" style="width: 100%">
										<option selected="selected" disabled>은행</option>
									</select>											
								</div>
								<div class="col-md-3">
									<input type="text" name="ACCOUNT_HOLDER" id="account_holder" class="form-control">	
								</div>
								<div class="col-md-6">
									<input type="text" name="ACCOUNT" id="account" class="form-control">												
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>기본급여</label>
									<div class="input-group">
										<input type="text" id="salary" name="SALARY" class="form-control" required>
										<div class="input-group-prepend">
											<span class="input-group-text">만원</span>
										</div>
									</div>
								</div>
							</div>
<!--							<div class="col-md-6">-->
<!--								<div class="form-group">-->
<!--									<label for="exampleInputEmail1">근무시간</label>-->
<!--									<select class="form-control select" id="">-->
<!--										<option selected="selected" disabled>만들어주면 가지고 오기 ^^</option>												-->
<!--									</select>-->
<!--								</div>-->
<!--							</div>-->
						</div>
						
						
					</div>
				</div>
				<!-- /.모달창 바디 -->
				<!-- 모달창 푸터-->
				<div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" id="submitBtn" >Save</button>
					</div>
				</div>
				<!-- /.모달창 푸터-->
			</form>
			<!-- /.form -->
		</div>
	</div>
</div>
<!-- /.모달창 -->