<div class="modal fade" id="modal-lg" th:fragment="salarywrite">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- 모달창 헤더 -->
			<div class="modal-header">
				<h4 class="modal-title">수주 상세정보</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- /.모달창 헤더 -->

			<!-- form -->
			<form th:action="@{/writeSalary}" method="post" id="writeSalaryForm">
				<!-- 모달창 바디 -->
				<div class="modal-body">
					<div class="card-body">

						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>수주 일자</label>
									<div class="input-group date" id="reservationdate"
										data-target-input="nearest">
										<input type="text" autocomplete='off'
											class="form-control datetimepicker-input" id="daterange"
											name="PAYDAY" placeholder="년-월 선택" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								<div class="form-group">
									<label>수주 번호</label> <input type="text" class="form-control"
										id="member" name="MEMBER_ID" data-target="#reservationdate"
										readonly />
								</div>
							</div>
							<div class="col-md-7">
								<div class="form-group">
									<label>거래처</label> <input type="text" class="form-control"
										id="name" name="NAME" placeholder="사원명을 입력하세요.">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>담당자</label> <input type="text" class="form-control"
										id="name" name="NAME" placeholder="사원명을 입력하세요.">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>단위</label> <input type="text" class="form-control"
										id="name" name="NAME" placeholder="사원명을 입력하세요.">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>품목명</label> <input type="text" class="form-control"
										id="name" name="NAME" placeholder="사원명을 입력하세요.">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>수량</label> <input type="text" class="form-control"
										id="name" name="NAME" placeholder="사원명을 입력하세요.">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>공급가</label> <input type="text" class="form-control"
										id="name" name="NAME" placeholder="사원명을 입력하세요.">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>부가세</label> <input type="text" class="form-control"
										id="name" name="NAME" placeholder="사원명을 입력하세요.">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>합계</label> <input type="text" class="form-control"
											id="name" name="NAME" placeholder="사원명을 입력하세요.">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>비고</label> <input type="text" class="form-control"
											id="name" name="NAME" placeholder="사원명을 입력하세요.">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>수정일</label> <input type="text" class="form-control"
											id="name" name="NAME" placeholder="사원명을 입력하세요.">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>등록자</label> <input type="text" class="form-control"
											id="name" name="NAME" placeholder="사원명을 입력하세요.">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.모달창 바디 -->
				<!-- 모달창 푸터-->
				<div>
					<div class="modal-footer justify-content-between">
						<button type="button" id="closeBtn" class="btn btn-default"
							data-dismiss="modal">닫기</button>
						<!-- 						<button type="submit" id="submitBtn" class="btn btn-primary">급여 등록</button> -->
						<button type="button" id="submitBtn2" class="btn btn-primary">급여
							등록</button>
					</div>
				</div>
				<!-- /.모달창 푸터-->
			</form>
			<!-- /.form -->
		</div>
	</div>
</div>
