<div class="modal fade" id="modal-lg" th:fragment="orderDetail">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- 모달창 헤더 -->
			<div class="modal-header">
				<h4 class="modal-title">수주 상세정보</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- /.모달창 헤더 -->

			<!-- form -->
			<form th:action="@{/orderDetail}" method="post" id="orderDetailTable">
				<!-- 모달창 바디 -->
				<div class="modal-body">
					<div class="card-body">
						<table class="table">
							<tbody>
								<tr>
									<th>수주일자</th>
									<td id="orderDate"></td>
									<th>수주번호</th>
									<td id="orderId"></td>
									<th>등록자</th>
									<td id="registBy"></td>
								</tr>							
								<tr>
									<th>거래처</th>
									<td id="customerId"></td>
									<th>담당자</th>
									<td id="salesRepId"></td>
									<th>납품예정일</th>
									<td id="deliveryDate"></td>
								</tr>
								<tr>									
									<th>품목명</th>
									<td id="itemId"></td>
									<th>단위</th>
									<td id="unit"></td>
									<th>단가</th>
									<td id="itemPrice" class="text-right"></td>
								</tr>
								<tr>
									<th>공급가</th>
									<td id="orderPrice" class="text-right"></td>
									<th>부가세</th>
									<td id="tax" class="text-right"></td>
									<th>합계</th>
									<td id="orderSum" class="text-right"></td>
								</tr>
								<tr>									
									<th>비고</th>
									<td colspan="5" id="remarks"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- /.모달창 바디 -->
			</form>
			<!-- /.form -->
		</div>
	</div>
</div>
