<!-- 모달창 -->
<div class="modal fade" id="productionMeterialAdd" th:fragment="productionMeterialAdd">
	<div class="modal-dialog modal-custom-size">
		<div class="modal-content">
			<!-- 모달창 헤더 -->
			<div class="modal-header">
				<h4 class="modal-title">자재 투입</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- /.모달창 헤더 -->
			
			<!-- 모달창 바디 -->
			<div class="modal-body" style="padding-bottom: 0px;">
				<div class="card-body" style="padding-bottom: 0px;">
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<span style="padding-left: 20px;">BOM</span>
								<div class="card-body" id="bomGrid" style="padding-top: 10px;">
									<!-- Toast Grid Ajax -->
								</div>
							</div>
							<div class="col-md-8">
								<div class="d-flex justify-content-between align-items-center">
									<span style="padding-left: 20px;">자재 재고 현황</span>
									<button type="button" class="btn btn-primary" id="btn_material_add" 
										style="margin-right: 20px; padding-top: 0px; padding-bottom: 0px; border-top: 0px; padding-bottom: 0px; display: none;">
										자재 적용
									</button>
								</div>
								<div class="card-body" id="stockGrid" style="padding-top: 10px;">
									<!-- Toast Grid Ajax -->
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<span style="padding-left: 20px;">자재 출고 목록</span>
								<div class="card-body" id="releaseMeterialGrid" style="padding-top: 10px;">
									<!-- Toast Grid Ajax -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.모달창 바디 -->
			<!-- 모달창 푸터-->
			<div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					<button type="submit" class="btn btn-primary" id="saveEquipment">작업시작</button>
				</div>
			</div>
			<!-- /.모달창 푸터-->
		</div>
	</div>
</div>
<!-- /.모달창 -->

<script th:fragment="productionMeterialAdd" th:inline="javascript">
	let bomCurrentSelectedRowKey = '';
	
	let bomGrid = null;
	const equipmentSelected_columns = [
		{header: '품목 코드', name: 'ITEM_ID', align: 'center', editor: null, width: 100},
		{header: '품목명', name: 'ITEM_NAME', align: 'left', editor: null},
		{
			header: '소요량', 
			name: 'ITEM_AMOUNT', 
			align: 'right', 
			editor: null, 
			width: 100,
			formatter: function({ value }) {
				if (!value) {
					return '0';
				}
				return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); // 천 단위 콤마 추가
			}
		},
		{header: '단위', name: 'ITEM_UNIT', align: 'center', editor: null, width: 100},
	];
	const bom_url = '/rest/production/productionOrderDetailBom';
	const bom_dataSource = {
		api: {
			readData: {url: bom_url, method: 'GET', initParams: {productionOrderDetailId: '' }},
		},
		contentType: 'application/json',
	};
	
	let stockGrid = null;
	const stock_columns = [
		{header: '창고코드', name: 'WAREHOUSE_ID', align: 'center', editor: null, width: 100},
		{header: '창고명', name: 'WAREHOUSE_NAME', align: 'left', editor: null},
		{header: '로트번호', name: 'LOT_ID', align: 'center', editor: null, width: 250},
		{header: '투입단위', name: 'UNIT', align: 'center', editor: null, width: 100},
		{
			header: '현재고', 
			name: 'CURRENT_QUANTITY', 
			align: 'right', 
			width: 150,
			formatter: function({ value }) {
				if (!value) {
					return '0';
				}
				return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); // 천 단위 콤마 추가
			}
		},
		{
			header: '출고수량', 
			name: 'RELEASE_QUANTITY', 
			align: 'right', 
			editor: null, 
			width: 150, 
			editor: { type: CustomNumberEditor }, 
			renderer: { type: NumberTextInputRenderer }
		},
	];
	const stock_url = '/rest/production/stock';
	const stock_dataSource = {
		api: {
			readData: {url: stock_url, method: 'GET', initParams: {itemId: '' }},
		},
		contentType: 'application/json',
	};
	
	let releaseMeterialGrid = null;
	const releaseMeterial_columns = [
		{header: '품목코드', name: 'ITEM_ID', align: 'center', editor: null},
		{header: '품목명', name: 'ITEM_NAME', align: 'left', editor: null},
		{header: '창고코드', name: 'WAREHOUSE_ID', align: 'center', editor: null},
		{header: '창고명', name: 'WAREHOUSE_NAME', align: 'left', editor: null},
		{header: '로트번호', name: 'LOT_ID', align: 'center', editor: null},
		{header: '투입단위', name: 'ITEM_UNIT', align: 'center', editor: null},
		{
			header: '투입수량', 
			name: 'RELEASE_QUANTITY', 
			align: 'right', 
			editor: null, 
			formatter: function({ value }) {
				if (!value) {
					return '0';
				}
				return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); // 천 단위 콤마 추가
			}
		},
	];
	
	$('#productionMeterialAdd').on('shown.bs.modal', function () {
		if (stockGrid) {
			stockGrid.destroy();
			stockGrid = null;
		}
		
		if (releaseMeterialGrid) {
			releaseMeterialGrid.destroy();
			releaseMeterialGrid = null;
		}
		
		bomGridInit();
	});
	
	function bomGridInit() {
		if (bomGrid) {
			bomGrid.destroy();
			bomGrid = null;
		}
		
		bomGrid = new tui.Grid({
			el: document.getElementById('bomGrid'),
			data: bom_dataSource,
			scrollX: true,
			scrollY: true,
			bodyHeight: 250,
			columns: equipmentSelected_columns,
		});
		
		bomGrid.on('failResponse', function(ev) {
			alert(JSON.parse(ev.xhr.responseText).message);
		});
		
		bomGrid.on('click', (ev) => {
			const newRowKey = ev.rowKey;

			if (bomCurrentSelectedRowKey != null) {
				bomGrid.removeRowClassName(bomCurrentSelectedRowKey, 'selected-row');
			}
			
			if (bomCurrentSelectedRowKey != newRowKey) {
				bomGrid.addRowClassName(newRowKey, 'selected-row');
				bomCurrentSelectedRowKey = newRowKey;
				
				const rowData = bomGrid.getRow(newRowKey);
				const item_id = rowData.ITEM_ID;

				$("#btn_material_add").show();
				stockGridInit(item_id);
			} else {
				// 같은 행을 클릭한 경우 선택 해제
				bomCurrentSelectedRowKey = null;
				
				if (stockGrid) {
					stockGrid.destroy();
					stockGrid = null;
				}
				
				$("#btn_material_add").hide();
			}
		});
	}
	
	function stockGridInit(item_id) {
		if (stockGrid) {
			stockGrid.destroy(); // 기존 그리드 제거
			stockGrid = null;
		}
		
		stock_dataSource.api.readData.initParams.itemId = item_id;
		
		stockGrid = new tui.Grid({
			el: document.getElementById('stockGrid'),
			data: stock_dataSource,
			scrollX: true,
			scrollY: true,
			bodyHeight: 250,
			columns: stock_columns,
			editingEvent: 'click'
		});
		
		stockGrid.on('failResponse', function(ev) {
			alert(JSON.parse(ev.xhr.responseText).message);
		});
		
		stockGrid.on('successResponse', function(ev) {
			const resultCnt = JSON.parse(ev.xhr.responseText).data.contents.length;
			
			if (resultCnt == 0) {
				$("#btn_material_add").hide();
			}
		});
	};
	
	$("#btn_material_add").on('click', function() {
		stockGrid.finishEditing();
	
		let stockArr = [];
		let totalQuantity = 0;
		const rows = stockGrid.getData();
		
		for (const row of rows) {
			if (row.RELEASE_QUANTITY == null) {
				row.RELEASE_QUANTITY = 0;
			}

			if (row.RELEASE_QUANTITY > row.CURRENT_QUANTITY) {
				alert("출고수량은 현재고보다 많을 수 없습니다.");
				
				return;
			}
			
			if (row.RELEASE_QUANTITY != 0) {
				const mapRowData = {
					"LOT_ID": row.LOT_ID,
					"RELEASE_QUANTITY": row.RELEASE_QUANTITY,
					"WAREHOUSE_ID": row.WAREHOUSE_ID,
					"WAREHOUSE_NAME": row.WAREHOUSE_NAME,
					isNew: true
				};

				stockArr.push(mapRowData);
				
				totalQuantity += Number(row.RELEASE_QUANTITY);
			}
		}

		let item_amount = 0;
		
		bomGrid.getData().forEach((bomRow) => {
			if (bomGrid.getRowClassName(bomRow.rowKey).includes('selected-row')) {
				item_amount = bomRow.ITEM_AMOUNT;
				
				stockArr.forEach((stockRow) => {
					stockRow.ITEM_ID = bomRow.ITEM_ID;
					stockRow.ITEM_NAME = bomRow.ITEM_NAME;
					stockRow.ITEM_UNIT = bomRow.ITEM_UNIT;
					stockRow.ITEM_AMOUNT = item_amount;
				});
			}
		});

		/* 테스트 완료 후 주석 해제.
		if (Number(item_amount) > Number(totalQuantity)) {
			alert("출고수량이 부족합니다.");

			return;
		}
		*/
		
		releaseMeterialGridInit(stockArr);
	});
	
	function releaseMeterialGridInit(stockArr) {
		if (releaseMeterialGrid) {
			releaseMeterialGrid.destroy(); // 기존 그리드 제거
			releaseMeterialGrid = null;
		}
		
		releaseMeterialGrid = new tui.Grid({
			el: document.getElementById('releaseMeterialGrid'),
			data: stockArr,
			scrollX: true,
			scrollY: true,
			bodyHeight: 250,
			columns: releaseMeterial_columns,
			editingEvent: 'click'
		});
	};
	
	
	// 	$("#saveEquipment").on('click', function() {
	// 		const rowKeysToDelete = equipmentGrid.getData()
	// 		    .filter(row => row.isNew)
	// 		    .map(row => row.rowKey);
			
	// 		// 워크센터설비 그리드 기존의 새로 추가된 행 삭제
	// 		rowKeysToDelete.forEach(function(key) {
	// 			equipmentGrid.removeRow(key);
	// 		});
			
	// 		// 새로 선택된 값 워크센터설비 그리드 행 추가
	// 		selectedEquipmentList.forEach(function(data) {
	// 			equipmentGrid.appendRow(data);
	// 		});
			
	// 		$("#productionMeterialAdd").modal('hide');
	// 	});
</script>
