<!-- 모달창 -->
<div class="modal fade" id="productionOrderDetailAdd" th:fragment="productionOrderDetailAdd">
	<div class="modal-dialog modal-custom-size">
		<div class="modal-content">
			<!-- 모달창 헤더 -->
			<div class="modal-header">
				<h4 class="modal-title">작업지시상세 추가</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- /.모달창 헤더 -->
			
			<!-- 모달창 바디 -->
			<div class="modal-body">
				<div class="card-body">
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<span style="padding-left: 20px;">생산필요 BOM 목록</span>
								<div class="card-body" id="processModalGrid" style="padding-top: 10px;">
									<!-- Toast Grid Ajax -->
								</div>
							</div>
							<div class="col-md-8">
								<span style="padding-left: 20px;">선택 목록</span>
								<div class="card-body" id="processModalSelectedGrid" style="padding-top: 10px;">
									 <!-- Toast Grid Ajax -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.모달창 바디 -->
			<!-- 모달창 푸터-->
			<div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" id="saveProcess">적용</button>
				</div>
			</div>
			<!-- /.모달창 푸터-->
		</div>
	</div>
</div>
<!-- /.모달창 -->

<script th:fragment="productionOrderDetailAdd" th:inline="javascript">
	class CustomNumberEditor {
	    constructor(props) {
	        const el = document.createElement('input');
	        el.type = 'text'; // 숫자만 입력 가능하도록 처리
	        el.style.width = '100%';
	        el.style.textAlign = 'right';
	        el.value = props.value || '';
	
	        this.el = el;
	    }
	
	    getElement() {
	        return this.el;
	    }
	
	    getValue() {
	        return this.el.value;
	    }
	
	    mounted() {
	        this.el.focus(); // 자동 포커스
	
	        // **입력할 때 숫자만 남기기**
	        this.el.addEventListener('input', (event) => {
	            event.target.value = event.target.value.replace(/[^0-9]/g, '');
	        });
	    }
	}

	const ModalTextInputRenderer = function(props) {
		const el = document.createElement('input');
		el.type = 'text';
	 	el.style.width = 'calc(100% - 10px)';
	 	el.style.padding = '6px 7px';
	  	el.style.border = 'solid 1px #ddd';
	  	el.style.margin = 'auto 5px';
	  	
	  	this.el = el;
	  	this.render(props);
	}
	
	ModalTextInputRenderer.prototype.getElement = function () {
		return this.el;
	}
	
	ModalTextInputRenderer.prototype.render = function (props) {
		this.el.value = props.value;
	}
	
	let processModalGrid = null;
	let selectedProcessList = [];
	let processModalSelectedGrid = null;
	const processSelected_columns = [
	    { header: '품목 코드', name: 'ITEM_ID', align: 'center', width: 90 },
        { header: '품목명', name: 'ITEM_NAME', align: 'left' },
        { header: '지시 수량 *', name: 'AMOUNT', align: 'right', width: 90, editor: { type: CustomNumberEditor }, renderer: { type: ModalTextInputRenderer }},
        { header: '단위', name: 'ITEM_UNIT', align: 'center', width: 90 },
        { header: '워크센터 코드 *', name: 'WORKCENTER_ID', align: 'center', renderer: { type: TextInputBtnRenderer }},
        { header: '워크센터명', name: 'WORKCENTER_NAME', align: 'center'},
	];
	let processParam = {use_yn: 'Y', inspection_yn: '', searchKeyword: ''};
	const processUrl = '/manufacture/productionOrderBOM';
	const processDataSource = {
		api: {
		    readData: {url: processUrl, method: 'GET', initParams: {production_order_id: '', amount: ''}},
		},
		contentType: 'application/json',
    };
	const process_columns = [
        { header: '품목코드', name: 'ITEM_ID', align: 'center', width: 90},
        { header: '품목명', name: 'ITEM_NAME', align: 'left' },
        { header: '필요 수량', name: 'AMOUNT', align: 'right', width: 90},
	];
	
	$('#productionOrderDetailAdd').on('shown.bs.modal', function () {
		selectedProcessList.length = 0;
		$("#inspection_yn").val("").attr("selected", "selected");
		processParam.inspection_yn = '';
		processParam.searchKeyword = '';
        
		processModalInit();
	});
	
	function processModalInit() {
		if (processModalGrid) {
			processModalGrid.destroy(); // 기존 그리드 제거
			processModalGrid = null;
		}
		
		processModalGrid = new tui.Grid({
	        el: document.getElementById('processModalGrid'),
	        data: processDataSource,
	        scrollX: true,
	        scrollY: true,
	        bodyHeight: 250,
	        columns: process_columns,
	    });
	    
	    processModalGrid.on('failResponse', function(ev) {
	        alert(JSON.parse(ev.xhr.responseText).message);
	    });
	    
	 	// 테이블 데이터 렌더링 완료후에 실행 (테이블 출력이 끝나는 정확한 타이밍을 못잡아서 onGridMounted로 잡고 후처리)
	    processModalGrid.on('onGridMounted', () => {
		    // 테이블 출력 완전히 끝난 후 데이터 가져오는 함수
		    const checkGridRendered = () => {
		        setTimeout(() => {
		            if (processModalGrid.getData().length > 0) {
		    	    	const processGridNewRows = productionOrderDetailGrid.getData().filter(row => row.isNew);
		    		    const selectedRowKeys = processModalGrid.getData()
		    			    .filter(row => processGridNewRows.some(newRow => newRow.ITEM_ID == row.ITEM_ID))
		    			    .map(row => row.rowKey);
		    		    
		    		    // 설비 그리드에서 새로 추가된 행 가져와서 설비모달에 선택값 그대로 적용함.
		    		    selectedRowKeys.forEach(function(key) {
			    		    processModalGrid.addRowClassName(key, 'selected-row');
		    		    });
		    		    
		    		    // 설비 그리드에서 새로 추가된 행 selectedProcessList 초기값 설정
		    		    processGridNewRows.forEach(function(row) {
		    		    	const mapRowData = {
		    		        	"ITEM_ID": row.ITEM_ID,
		    		        	"ITEM_NAME": row.ITEM_NAME,
		    		        	"AMOUNT": row.AMOUNT,
		    		        	"ITEM_UNIT": row.ITEM_UNIT,
		    		        	"WORKCENTER_ID": row.WORKCENTER_ID,
		    		        	"WORKCENTER_NAME": row.WORKCENTER_NAME,
		    		            isNew: true
		    			    };
		    		    	
		    		    	selectedProcessList.push(mapRowData);
		    		    });
						
						// selectedProcessList 배열을 다 채우고나서 실행해야 값을 가져올 수 있음. 타이밍 유의! 
						processModalSelectedInit();
		            } else {
		                checkGridRendered(); // 데이터가 없으면 다시 체크
		            }
		        }, 100);
		    };

		    checkGridRendered(); // 실행
	    });
	    
	    processModalGrid.on('click', (ev) => {
		    if (ev.targetType != "cell") {
				return;
			}
			
		    const newRowKey = ev.rowKey;
		    const isSelectedRow = processModalGrid.getRowClassName(newRowKey).includes('selected-row');
		    const rowData = processModalGrid.getRow(newRowKey);
		    const item_id = rowData.ITEM_ID;
		    
		    if (isSelectedRow) {
		    	processModalGrid.removeRowClassName(newRowKey, 'selected-row');
		    	selectedProcessList = selectedProcessList.filter(item => item.ITEM_ID != item_id);
				
				processModalSelectedGrid.getData().forEach(row => {
				    if (item_id == row.ITEM_ID) {
						processModalSelectedGrid.removeRow(row.rowKey)
				    }
				});
		    } else {
		    	const mapRowData = {
		        	"ITEM_ID": item_id,
		        	"ITEM_NAME": rowData.ITEM_NAME,
		        	"AMOUNT": rowData.AMOUNT,
		        	"ITEM_UNIT": rowData.ITEM_UNIT,
		            isNew: true
			    };
		    	
		    	selectedProcessList.push(mapRowData);
		    	processModalGrid.addRowClassName(newRowKey, 'selected-row');
				
				processModalSelectedGrid.appendRow(mapRowData);
		    }
		});
	}
	
	function isNumericString(str) {
	    return /^[0-9]+$/.test(str);
	}
	
	$("#saveProcess").on('click', function() {
		// 적용시 수정모드 해제하여 값 누락 없도록.
		processModalSelectedGrid.finishEditing();
		
		const gridData = processModalSelectedGrid.getData();

		for (const data of gridData) {
			if (data.WORKCENTER_ID == null || data.WORKCENTER_ID == '' 
					|| data.AMOUNT == null || data.AMOUNT == '') {
				alert('필수값을 입력하세요.');
			
				return;
			}
		}
		
		const rowKeysToDelete = productionOrderDetailGrid.getData()
		    .filter(row => row.isNew)
		    .map(row => row.rowKey);
		
		// 라우팅 절차 그리드 기존의 새로 추가된 행 삭제
		rowKeysToDelete.forEach(function(key) {
			productionOrderDetailGrid.removeRow(key);
		});
		
		// processModalSelectedGrid그리드에서 수정된 값 적용하기 위함.
		const keysToKeep = ["ITEM_ID", "ITEM_NAME", "AMOUNT", "ITEM_UNIT", "WORKCENTER_ID", "WORKCENTER_NAME", "isNew"];
		const filteredData = gridData.map(obj => 
		    Object.fromEntries(Object.entries(obj).filter(([key]) => keysToKeep.includes(key)))
		);

		filteredData.forEach(function(data, index) {
			productionOrderDetailGrid.appendRow(data);
		});
		
		$("#productionOrderDetailAdd").modal('hide');
	});
	
	function processModalSelectedInit() {
		if (processModalSelectedGrid) {
			processModalSelectedGrid.destroy(); // 기존 그리드 제거
			processModalSelectedGrid = null;
		}
		
		processModalSelectedGrid = new tui.Grid({
	        el: document.getElementById('processModalSelectedGrid'),
			data: selectedProcessList,
	        scrollX: true,
	        scrollY: true,
	        bodyHeight: 250,
	        columns: processSelected_columns,
	        editingEvent: 'click'
	    });
		
		processModalSelectedGrid.on('click', (ev) => {
			const ignoredColumns = ["AMOUNT", "WORKCENTER_ID"];
			if (ev.targetType !== "cell" || ignoredColumns.includes(ev.columnName)) {
			    return;
			}
			
			const newRowKey = ev.rowKey;
			const rowData = processModalSelectedGrid.getRow(newRowKey);
			const allData = processModalSelectedGrid.getData();
			
			const item_id = rowData.ITEM_ID;
			selectedProcessList = selectedProcessList.filter(item => item.ITEM_ID != item_id);
			
			processModalSelectedGrid.removeRow(newRowKey);
			
			processModalGrid.getData().forEach(row => {
			    if (item_id == row.ITEM_ID) {
			        processModalGrid.removeRowClassName(row.rowKey, 'selected-row');
			    }
			});
		});
    };
</script>
