
<!-- 모달창 -->
<div class="modal fade" id="modal-lg" th:fragment="salarywrite">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- 모달창 헤더 -->
			<div class="modal-header">
				<h4 class="modal-title">급여 정보 입력</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- /.모달창 헤더 -->
			
			<!-- form -->
			<form th:action="@{/writeSalary}" method="post" id="writeSalaryForm">
				<!-- 모달창 바디 -->
				<div class="modal-body">
					<div class="card-body">
					
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
					              <label>귀속 연월</label>
					                <div class="input-group date" id="reservationdate" data-target-input="nearest">
					                    <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate"/>
					                    <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
					                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
					                    </div>
					                </div>
					            </div>
				            </div>
						 </div>
						<div class="row">
							<div class="col-md-5">
								<div class="form-group">
					              <label>사원 번호</label>
				                    <input type="text" class="form-control" data-target="#reservationdate"/>
					            </div>
							</div>
							<div class="col-md-7">
								<div class="form-group">
					              <label>사원명</label>
				                    <input type="text" class="form-control">
					            </div>
				            </div>
						 </div>
 						<div class="row"> 
 							<div class="col-md-6"> 
								<div class="form-group">
									<label for="exampleInputEmail1">부서명</label>
									<select class="form-control select" id="department" name="DEPARTMENT">
										<option selected="selected" disabled>부서선택</option>
										<option>인사팀</option>												
										<option>회계팀</option>												
										<option>총무팀</option>												
										<option>국내영업팀</option>												
										<option>영업기획팀</option>												
										<option>서버개발팀</option>												
										<option>웹개발팀</option>												
										<option>모바일개발팀</option>												
										<option>유지보수팀</option>												
									</select>
								</div>
 							</div> 
 							<div class="col-md-6"> 
 								<div class="form-group"> 
									<label for="exampleInputEmail1">직급</label>
									<select class="form-control select" id="grade" name="GRADE">
										<option selected="selected" disabled>직급선택</option>												
										<option>대리</option>												
										<option>과장</option>												
										<option>차장</option>												
										<option>부장</option>												
										<option>이사</option>												
										<option>상무</option>												
										<option>전무</option>												
										<option>부사장</option>												
										<option>사장</option>												
										<option>사원</option>												
										<option>주임</option>												
									</select>
 								</div> 
 							</div> 
 						</div> 
						<div class="row">
							<div class="col-md-4">
				                <div class="form-group">
				                  <label>급여 항목</label>
				                 	<input type="text" readonly class="form-control" placeholder="기본급" style="background-color: white !important;"> <br>
				                	<input type="text" readonly class="form-control" placeholder="직책 수당" style="background-color: white !important;"> <br>
				                	<input type="text" readonly class="form-control" placeholder="연휴 수당" style="background-color: white !important;"> <br>
				                	<input type="text" readonly class="form-control" placeholder="야근 수당" style="background-color: white !important;"> <br>
				                	<input type="text" readonly class="form-control" placeholder="연말 격려 수당" style="background-color: white !important;"> <br>
				                	<input type="text" readonly class="form-control" placeholder="만기 근속자 포상" style="background-color: white !important;"> <br>
				                	<input type="text" readonly class="form-control" placeholder="실적 우수자 포상" style="background-color: white !important;"> <br>
				                </div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
				                  <label>금액</label>
									<input type="text" class="form-control" placeholder="금액을 입력하세요."><br>
									<input type="text" class="form-control" placeholder="금액을 입력하세요."><br>
									<input type="text" class="form-control" placeholder="금액을 입력하세요."><br>
									<input type="text" class="form-control" placeholder="금액을 입력하세요."><br>
									<input type="text" class="form-control" placeholder="금액을 입력하세요."><br>
									<input type="text" class="form-control" placeholder="금액을 입력하세요."><br>
									<input type="text" class="form-control" placeholder="금액을 입력하세요."><br>
				                </div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.모달창 바디 -->
				<!-- 모달창 푸터-->
				<div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
				</div>
				<!-- /.모달창 푸터-->
			</form>
			<!-- /.form -->
		</div>
	</div>
</div>
<!-- /.모달창 -->
