<!-- 모달창 -->
<div class="modal fade" id="modalUpperCode" th:fragment="upperDept">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- 모달창 헤더 -->
			<div class="modal-header">
				<h4 class="modal-title">상위부서 등록</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- /.모달창 헤더 -->

			<!-- 모달창 바디 -->
			<div class="modal-body">
				<div class="card-body">
					<div class="form-group">

						<div class="row">
							<div class="col-md-6">
								<label>부서</label>
								<input type="text" id="UPPER_ID" class="form-control">
							</div>
							<div class="col-md-6">
								<label>사용여부</label><br>
								<input type="radio" name="use_yn" value="Y" checked> 사용 &nbsp;
								<input type="radio" name="use_yn" value="N"> 미사용
							</div>
							<div class="col-md-6">
								<label>부서명</label>
								<input type="text" id="UPPER_NAME" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label>부서 설명</label>
								<textarea id="EXPLAIN" class="form-control" maxlength="200"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.모달창 바디 -->
			<!-- 모달창 푸터-->
			<div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" id="upperDeptSave">저장</button>
				</div>
			</div>
			<!-- /.모달창 푸터-->
		</div>
	</div>
</div>
<!-- /.모달창 -->