<!-- 모달창 -->
<div class="modal fade" id="workcenterEquipmentAdd" th:fragment="workcenterEquipmentAdd">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- 모달창 헤더 -->
			<div class="modal-header">
				<h4 class="modal-title">워크센터 설비 추가</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- /.모달창 헤더 -->
			
			<!-- 모달창 바디 -->
			<div class="modal-body">
				<div class="card-body">
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<input type="hidden" id="equipmentRow" class="form-control">
							</div>
							<div class="col-md-6">
								<input type="hidden" id="equipmentColumn" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card-body" id="equipmentModalGrid">
									<!-- Toast Grid Ajax -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.모달창 바디 -->
			<!-- 모달창 푸터-->
			<div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<!-- 					<button type="submit" class="btn btn-primary" id="saveEquipment" disabled>추가</button> -->
					<button type="submit" class="btn btn-primary" id="saveEquipment">적용</button>
				</div>
			</div>
			<!-- /.모달창 푸터-->
		</div>
	</div>
</div>
<!-- /.모달창 -->

<script th:fragment="workcenterEquipmentAdd" th:inline="javascript">
	let equipmentModalGrid = null;
	let selectedEquipmentList = [];
	
	$('#workcenterEquipmentAdd').on('shown.bs.modal', function () {
		selectedEquipmentList.length = 0;
// 		$("#saveEquipment").attr('disabled', true);
        
		equipmentModalInit();
	});
	
	function equipmentModalInit() {
		// 파라미터 설정
		equipmentDataSource.api.readData.initParams.workcenter_id = '';
		
		if (equipmentModalGrid) {
			equipmentModalGrid.destroy(); // 기존 그리드 제거
			equipmentModalGrid = null;
		}
		
		equipmentModalGrid = new tui.Grid({
	        el: document.getElementById('equipmentModalGrid'),
	        data: equipmentDataSource,
	        scrollX: true,
	        scrollY: true,
	        bodyHeight: 250,
	        columns: equipment_columns,
	    });
		
	    equipmentModalGrid.on('failResponse', function(ev) {
	        alert(JSON.parse(ev.xhr.responseText).message);
	    });
	    
	    // 테이블 데이터 렌더링 완료후에 실행 (테이블 출력이 끝나는 정확한 타이밍을 못잡아서 onGridMounted로 잡고 후처리)
	    equipmentModalGrid.on('onGridMounted', () => {
		    // 테이블 출력 완전히 끝난 후 데이터 가져오는 함수
		    const checkGridRendered = () => {
		        setTimeout(() => {
		            if (equipmentModalGrid.getData().length > 0) {
		    	    	const equipmentGridNewRows = equipmentGrid.getData().filter(row => row.isNew);
		    		    const selectedRowKeys = equipmentModalGrid.getData()
		    			    .filter(row => equipmentGridNewRows.some(newRow => newRow.EQUIPMENT_ID == row.EQUIPMENT_ID))
		    			    .map(row => row.rowKey);
		    		    
		    		    // 설비 그리드에서 새로 추가된 행 가져와서 설비모달에 선택값 그대로 적용함.
		    		    selectedRowKeys.forEach(function(key) {
			    		    equipmentModalGrid.addRowClassName(key, 'selected-row');
		    		    });
		    		    
		    		    // 설비 그리드에서 새로 추가된 행 selectedEquipmentList 초기값 설정
		    		    equipmentGridNewRows.forEach(function(row) {
		    		    	const mapRowData = {
		    		        	"EQUIPMENT_ID": row.EQUIPMENT_ID,
		    		        	"EQUIPMENT_NAME": row.EQUIPMENT_NAME,
		    		        	"EQUIPMENT_STATUS": row.EQUIPMENT_STATUS,
		    		        	"EQUIPMENT_NOTE": row.EQUIPMENT_NOTE,
		    		        	"WORKCENTER_ID": workcenterCurrentSelectedID,
		    		            isNew: true
		    			    };
		    		    	
		    		    	selectedEquipmentList.push(mapRowData);
		    		    });
		    		    
// 		    		    if (deleteRowKeys.length > 0) {
// 		    		    	$("#saveEquipment").attr('disabled', false);
// 		    		    }
		            } else {
		                checkGridRendered(); // 데이터가 없으면 다시 체크
		            }
		        }, 100);
		    };

		    checkGridRendered(); // 실행
	    });
	    
	    equipmentModalGrid.on('click', (ev) => {
		    if (ev.targetType != "cell") {
				return;
			}
	    	
		    const newRowKey = ev.rowKey;
		    const isSelectedRow = equipmentModalGrid.getRowClassName(newRowKey).includes('selected-row');
		    const rowData = equipmentModalGrid.getRow(newRowKey);
		    const equipment_id = rowData.EQUIPMENT_ID;
		    
		    if (isSelectedRow) {
		    	equipmentModalGrid.removeRowClassName(newRowKey, 'selected-row');
		    	selectedEquipmentList = selectedEquipmentList.filter(item => item.EQUIPMENT_ID != equipment_id);
		    } else {
		    	const mapRowData = {
		        	"EQUIPMENT_ID": equipment_id,
		        	"EQUIPMENT_NAME": rowData.EQUIPMENT_NAME,
		        	"EQUIPMENT_STATUS": rowData.EQUIPMENT_STATUS,
		        	"EQUIPMENT_NOTE": rowData.EQUIPMENT_NOTE,
		        	"WORKCENTER_ID": workcenterCurrentSelectedID,
		            isNew: true
			    };
		    	
		    	selectedEquipmentList.push(mapRowData);
		    	equipmentModalGrid.addRowClassName(newRowKey, 'selected-row');
		    }
		    
// 		    if (selectedEquipmentList.length == 0) {
// 		    	$("#saveEquipment").attr('disabled', true);
// 		    } else {
// 		    	$("#saveEquipment").attr('disabled', false);
// 		    }
		});
	}
	
	$("#saveEquipment").on('click', function() {
		const rowKeysToDelete = equipmentGrid.getData()
		    .filter(row => row.isNew)
		    .map(row => row.rowKey);
		
		// 워크센터설비 그리드 기존의 새로 추가된 행 삭제
		rowKeysToDelete.forEach(function(key) {
			equipmentGrid.removeRow(key);
		});
		
		// 새로 선택된 값 워크센터설비 그리드 행 추가
		selectedEquipmentList.forEach(function(data) {
			equipmentGrid.appendRow(data);
		});
		
		$("#workcenterEquipmentAdd").modal('hide');
	});
	
	
// 	$("#saveManager").on('click', function() {
// 		const workcenterRow = $("#workcenterRow").val();
// 		const workcenterColumn = $("#workcenterColumn").val();
// 		const workcenterCode = $("#workcenterCode").val();
		
// 		let managerRow = $("#managerRow").val();
// 		let managerColumn = $("#managerColumn").val();
// 		workcenterGrid.setValue(managerRow, managerColumn, selectedManagerId);
		
// 		$('#workcenterManagerAdd').modal('hide');
// 	});
	
// 	$("#btnMemberSearch").on("click", function() {
// 		param.dept_id = $("#DEP").val();
// 		param.member_name = $("#managerName").val();
// 		selectedManagerId = '';
// 		$("#saveManager").attr("disabled", true);
		
// 		managerGrid.readData(1, param, true);
// 	});

// 	// html selectBox id값 반드시 ajax에서 리턴되는 code값과 일치 시켜야 됨.
// 	function selectBox(type) {
// 		$.ajax({
//             type : "POST",
//             url : "/attendance/selectBox",
//             data : {
//             	type : type
//             },
//             success : function(res){
//             	let str = '<option value="" selected="selected">전체</option>';
            	
//             	res.forEach((el)=>{
// 					str += '<option value="' + el.CODE + '">' + el.NAME + '</option>';
//            		})
           		
//            		$("#" + type).html(str);
//             },
//             error : function(XMLHttpRequest, textStatus, errorThrown){
//                 console.log("selectBox() ajax 실패");
//             }
//         });
// 	}
	
</script>
