<!--
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#inboundInspection">
		생성
	</button>
-->

<!-- 모달창 -->
<div class="modal fade" id="inboundInspection" th:fragment="inboundInspection">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-body">
				<div class="card-body">
					<div class="row">
						<div class="col-8">
							<div id="rejection_grid"></div>
						</div>
						<div class="col-4">
							<div id="keyboard" th:fragment="numberPad">
								<button type="button" class="btn btn-outline-secondary btn-flat key" data-value="7"><i class="fa-solid fa-7"></i></button>
								<button type="button" class="btn btn-outline-secondary btn-flat key" data-value="8"><i class="fa-solid fa-8"></i></button>
								<button type="button" class="btn btn-outline-secondary btn-flat key" data-value="9"><i class="fa-solid fa-9"></i></button>
								<button type="button" class="btn btn-outline-secondary btn-flat key" data-value="4"><i class="fa-solid fa-4"></i></button>
								<button type="button" class="btn btn-outline-secondary btn-flat key" data-value="5"><i class="fa-solid fa-5"></i></button>
								<button type="button" class="btn btn-outline-secondary btn-flat key" data-value="6"><i class="fa-solid fa-6"></i></button>
								<button type="button" class="btn btn-outline-secondary btn-flat key" data-value="1"><i class="fa-solid fa-1"></i></button>
								<button type="button" class="btn btn-outline-secondary btn-flat key" data-value="2"><i class="fa-solid fa-2"></i></button>
								<button type="button" class="btn btn-outline-secondary btn-flat key" data-value="3"><i class="fa-solid fa-3"></i></button>
								<button type="button" class="btn btn-outline-secondary btn-flat" id="clear"><i class="fa-solid fa-c"></i></button>
								<button type="button" class="btn btn-outline-secondary btn-flat key" data-value="0"><i class="fa-solid fa-0"></i></button>
								<button type="button" class="btn btn-outline-secondary btn-flat" id="delete"><i class="fa-solid fa-left-long"></i></button>
							</div>
						</div>
					</div>
					<div id="rejectioni_input_grid"></div>
					<p id="error"></p>
				</div>
			</div>
			<div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="save">Save changes</button>
            </div>
		</div>
	</div>
</div>
<!-- /.모달창 -->
