<!--
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#leave_request">
		생성
	</button>
-->

<!-- 모달창 -->
<div class="modal fade" id="modal-xl" th:fragment="leave_request">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<!-- 모달창 헤더 -->
			<div class="modal-header">
				<h4 class="modal-title">인사정보등록</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- /.모달창 헤더 -->
			
			<!-- form -->
			<form method="post" id="leaveRequest">
				<!-- 모달창 바디 -->
				<div class="modal-body">
					<div class="card-body">
						<div class="row">
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>휴가유형</label>
											<select class="form-control select" id="leaveType" name="APPROVAL_TYPE" style="width: 100%">
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<label for="" class="col-form-label mr-3" style="min-width: 70px;">조회기간</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">
													<i class="far fa-calendar-alt"></i>
												</span>
											</div>
											<input type="text" class="form-control float-right" id="reservation" name="DAYS">
											<input type="hidden" id="startDate" name="START_DATE">
											<input type="hidden" id="endDate" name="END_DATE">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>연차 사유</label>
									<textarea class="form-control" id="content" name="CONTENT" rows="5" placeholder="Enter ..."></textarea>
								</div>
								<div class="form-group">
									<label for="exampleInputFile">File input</label>
									<div class="input-group">
										<div class="custom-file">
											<input type="file" class="custom-file-input" id="exampleInputFile">
											<label class="custom-file-label" for="exampleInputFile">Choose file</label>
										</div>
									</div>
								</div>
							</div>
							<div class='col-md-4 align-self-center pl-4'>
								<h4>내 연차</h4>
								<p>총 <span id="totalVacationM"></span>일 중 <span id="usedVacationM"></span>일 사용</p>
								<p>남은 잔여 일 수는 <span id="remainingVacationM"></span>일 입니다.</p>
							</div>
						</div>
					</div>	
				</div>
				<!-- /.모달창 바디 -->
				<!-- 모달창 푸터-->
				<div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="submitBtn" >Save</button>
					</div>
				</div>
				<!-- /.모달창 푸터-->
			</form>
			<!-- /.form -->
		</div>
	</div>
</div>
<!-- /.모달창 -->

