<!-- 모달창 -->
<div class="modal fade" id="productionMaterialAdd" th:fragment="productionMaterialAdd">
	<div class="modal-dialog modal-custom-size">
		<div class="modal-content">
			<!-- 모달창 헤더 -->
			<div class="modal-header">
				<h4 class="modal-title">자재 투입</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- /.모달창 헤더 -->
			
			<!-- 모달창 바디 -->
			<div class="modal-body" style="padding-bottom: 0px;">
				<div class="card-body" style="padding-bottom: 0px;">
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<span style="padding-left: 20px;">BOM</span>
								<div class="card-body" id="bomGrid" style="padding-top: 10px;">
									<!-- Toast Grid Ajax -->
								</div>
							</div>
							<div class="col-md-8">
								<div class="d-flex justify-content-between align-items-center">
									<span style="padding-left: 20px;">자재 재고 현황</span>
									<button type="button" class="btn btn-primary" id="btn_material_add" 
										style="margin-right: 20px; padding-top: 0px; padding-bottom: 0px; border-top: 0px; padding-bottom: 0px; display: none;">
										자재 적용
									</button>
								</div>
								<div class="card-body" id="stockGrid" style="padding-top: 10px;">
									<!-- Toast Grid Ajax -->
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<span style="padding-left: 20px;">자재 출고 목록</span>
								<div class="card-body" id="releaseMaterialGrid" style="padding-top: 10px;">
									<!-- Toast Grid Ajax -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.모달창 바디 -->
			<!-- 모달창 푸터-->
			<div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					<button type="submit" class="btn btn-primary" id="saveProductionDetailOrder">작업시작</button>
				</div>
			</div>
			<!-- /.모달창 푸터-->
		</div>
	</div>
</div>
<!-- /.모달창 -->

<script th:fragment="productionMaterialAdd" th:inline="javascript">
	let stockArr = [];
	let bomCurrentSelectedRowKey = '';
	
	let bomGrid = null;
	const equipmentSelected_columns = [
		{header: '품목 코드', name: 'ITEM_ID', align: 'center', editor: null, width: 100},
		{header: '품목명', name: 'ITEM_NAME', align: 'left', editor: null},
		{
			header: '소요량', 
			name: 'ITEM_AMOUNT', 
			align: 'right', 
			editor: null, 
			width: 100,
			formatter: function({ value }) {
				if (!value) {
					return '0';
				}
				return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); // 천 단위 콤마 추가
			}
		},
		{header: '단위', name: 'ITEM_UNIT', align: 'center', editor: null, width: 90},
		{
			header: '투입량', 
			name: 'RELEASE_QUANTITY', 
			align: 'right', 
			editor: null, 
			formatter: function ({ row, value }) {
				if (!value) {
					value = 0;
				}
				
				const itemAmount = row.ITEM_AMOUNT || 0;
				
				let color = (value < itemAmount) ? 'red' : 'blue';

				return `<span style="color: ${color};">${value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')}</span>`;
			},
			width: 100
		},
	];
	const bom_url = '/rest/production/productionOrderDetailBom';
	const bom_dataSource = {
		api: {
			readData: {url: bom_url, method: 'GET', initParams: {productionOrderDetailId: '' }},
		},
		contentType: 'application/json',
	};
	
	let stockGrid = null;
	const stock_columns = [
		{header: '창고코드', name: 'WAREHOUSE_ID', align: 'center', editor: null, width: 100},
		{header: '창고명', name: 'WAREHOUSE_NAME', align: 'left', editor: null},
		{header: '로트번호', name: 'LOT_ID', align: 'center', editor: null, width: 250},
		{header: '투입단위', name: 'UNIT', align: 'center', editor: null, width: 90},
		{
			header: '현재고', 
			name: 'CURRENT_QUANTITY', 
			align: 'right', 
			width: 150,
			formatter: function({ value }) {
				if (!value) {
					return '0';
				}
				return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); // 천 단위 콤마 추가
			}
		},
		{
			header: '출고수량', 
			name: 'RELEASE_QUANTITY', 
			align: 'right', 
			editor: null, 
			width: 150, 
			editor: { type: CustomNumberEditor }, 
			renderer: { type: NumberTextInputRenderer }
		},
		{header: '품목코드', name: 'ITEM_ID', align: 'center', editor: null, width: 90, hidden: true},
	];
	const stock_url = '/rest/production/stock';
	const stock_dataSource = {
		api: {
			readData: {url: stock_url, method: 'GET', initParams: {itemId: '' }},
		},
		contentType: 'application/json',
	};
	
	let releaseMaterialGrid = null;
	const releaseMaterial_columns = [
		{header: '품목코드', name: 'ITEM_ID', align: 'center', editor: null},
		{header: '품목명', name: 'ITEM_NAME', align: 'left', editor: null},
		{header: '창고코드', name: 'WAREHOUSE_ID', align: 'center', editor: null},
		{header: '창고명', name: 'WAREHOUSE_NAME', align: 'left', editor: null},
		{header: '로트번호', name: 'LOT_ID', align: 'center', editor: null},
		{header: '투입단위', name: 'ITEM_UNIT', align: 'center', editor: null},
		{
			header: '투입수량', 
			name: 'RELEASE_QUANTITY', 
			align: 'right', 
			editor: null, 
			formatter: function({ value }) {
				if (!value) {
					return '0';
				}
				return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); // 천 단위 콤마 추가
			}
		},
	];
	
	$('#productionMaterialAdd').on('shown.bs.modal', function () {
		stockArr.length = 0;
		$("#saveProductionDetailOrder").attr('disabled', true);
		$("#btn_material_add").hide();
		
		if (stockGrid) {
			stockGrid.destroy();
			stockGrid = null;
		}
		
		if (releaseMaterialGrid) {
			releaseMaterialGrid.destroy();
			releaseMaterialGrid = null;
		}
		
		bomGridInit();
	});
	
	function bomGridInit() {
		if (bomGrid) {
			bomGrid.destroy();
			bomGrid = null;
		}
		
		bomGrid = new tui.Grid({
			el: document.getElementById('bomGrid'),
			data: bom_dataSource,
			scrollX: true,
			scrollY: true,
			bodyHeight: 250,
			columns: equipmentSelected_columns,
		});
		
		bomGrid.on('failResponse', function(ev) {
			alert(JSON.parse(ev.xhr.responseText).message);
		});
		
		bomGrid.on('click', (ev) => {
			if (ev.targetType != "cell") {
				return;
			}
			
			const newRowKey = ev.rowKey;

			if (bomCurrentSelectedRowKey != null) {
				bomGrid.removeRowClassName(bomCurrentSelectedRowKey, 'selected-row');
			}
			
			if (bomCurrentSelectedRowKey != newRowKey) {
				bomGrid.addRowClassName(newRowKey, 'selected-row');
				bomCurrentSelectedRowKey = newRowKey;
				
				const rowData = bomGrid.getRow(newRowKey);
				const item_id = rowData.ITEM_ID;

				$("#btn_material_add").show();
				stockGridInit(item_id);
			} else {
				// 같은 행을 클릭한 경우 선택 해제
				bomCurrentSelectedRowKey = null;
				
				if (stockGrid) {
					stockGrid.destroy();
					stockGrid = null;
				}
				
				$("#btn_material_add").hide();
			}
		});
	}
	
	function stockGridInit(item_id) {
		if (stockGrid) {
			stockGrid.destroy(); // 기존 그리드 제거
			stockGrid = null;
		}
		
		stock_dataSource.api.readData.initParams.itemId = item_id;
		
		stockGrid = new tui.Grid({
			el: document.getElementById('stockGrid'),
			data: stock_dataSource,
			scrollX: true,
			scrollY: true,
			bodyHeight: 250,
			columns: stock_columns,
			editingEvent: 'click'
		});
		
		stockGrid.on('failResponse', function(ev) {
			alert(JSON.parse(ev.xhr.responseText).message);
		});
		
		stockGrid.on('successResponse', function(ev) {
			const resultCnt = JSON.parse(ev.xhr.responseText).data.contents.length;
			
			let arr = [];
			// 테이블 출력 완전히 끝난 후 데이터 가져오는 함수
			const checkGridRendered = () => {
				setTimeout(() => {
					if (resultCnt == 0) {
						return;
					}
					
					if (stockGrid.getData().length > 0) {
						if (!releaseMaterialGrid) {
							return;
						}
						
						for (const row of releaseMaterialGrid.getData()) {
							if (row.ITEM_ID == item_id) {
								const mapData = {
									"RELEASE_QUANTITY": row.RELEASE_QUANTITY,
									"LOT_ID": row.LOT_ID,
								};

								arr.push(mapData);
							}
						}
						
						for (const row of stockGrid.getData()) {
							for (const data of arr) {
								if (row.LOT_ID == data.LOT_ID) {
									stockGrid.setValue(row.rowKey, 'RELEASE_QUANTITY', data.RELEASE_QUANTITY);
								}
							}
						}
						
					} else {
						checkGridRendered(); // 데이터가 없으면 다시 체크
					}
				}, 100);
			};

			checkGridRendered(); // 실행
			
			if (resultCnt == 0) {
				$("#btn_material_add").hide();
			}
		});
	};
	
	$("#btn_material_add").on('click', function() {
		stockGrid.finishEditing();
	
		let totalQuantity = 0;
		
		let item_amount = 0;
		let item_id = '';
		let item_name = '';
		let item_unit = '';
		
		let selectedRowKey = '';
		
		for (const stockRow of stockGrid.getData()) {
			if (stockRow.RELEASE_QUANTITY == null || stockRow.RELEASE_QUANTITY == '') {
				stockRow.RELEASE_QUANTITY = 0;
			}

			if (stockRow.RELEASE_QUANTITY > stockRow.CURRENT_QUANTITY) {
				alert("출고수량은 현재고보다 많을 수 없습니다.");
				
				return;
			}
			
			for (const bomRow of bomGrid.getData()) {
				if (bomGrid.getRowClassName(bomRow.rowKey).includes('selected-row')) {
					selectedRowKey = bomRow.rowKey;
					
					item_amount = bomRow.ITEM_AMOUNT;
					item_id = bomRow.ITEM_ID;
					item_name = bomRow.ITEM_NAME;
					item_unit = bomRow.ITEM_UNIT;
					
					if (stockRow.RELEASE_QUANTITY > item_amount) {
						alert("출고수량은 소요량보다 많을 수 없습니다.");
						
						return;
					}
				}
			}
			
			if (stockRow.RELEASE_QUANTITY != 0) {
				totalQuantity += Number(stockRow.RELEASE_QUANTITY);
			}
		}
		
		if (Number(item_amount) > Number(totalQuantity)) {
			alert("출고수량이 부족합니다.");

			return;
		}
		
		if (Number(item_amount) < Number(totalQuantity)) {
			alert("출고수량은 소요량보다 많을 수 없습니다.");

			return;
		}
		
		bomGrid.setValue(selectedRowKey, 'RELEASE_QUANTITY', totalQuantity);
		
		for (const stockRow of stockGrid.getData()) {
			// 자재 재고 현황 수정 시 자재 출고 목록 해당 품목 제거
			stockArr = stockArr.filter(row => row.ITEM_ID != stockRow.ITEM_ID);
			
			if (stockRow.RELEASE_QUANTITY != null && stockRow.RELEASE_QUANTITY != '') {
				const mapRowData = {
					"LOT_ID": stockRow.LOT_ID,
					"RELEASE_QUANTITY": stockRow.RELEASE_QUANTITY,
					"WAREHOUSE_ID": stockRow.WAREHOUSE_ID,
					"WAREHOUSE_NAME": stockRow.WAREHOUSE_NAME,
					isNew: true
				};

				stockArr.push(mapRowData);
			}
		}
				
		stockArr.forEach((stockRow) => {
			if (stockRow.rowKey == null) {
				stockRow.ITEM_ID = item_id;
				stockRow.ITEM_NAME = item_name;
				stockRow.ITEM_UNIT = item_unit;
				stockRow.PRODUCTION_ORDER_DETAIL_ID = bom_dataSource.api.readData.initParams.productionOrderDetailId;
			}
		});
		
		if (releaseMaterialGrid) {
			releaseMaterialGrid.resetData(stockArr);
		} else {
			releaseMaterialGridInit();
		}
		
		for (const row of bomGrid.getData()) {
			if (row.ITEM_AMOUNT != row.RELEASE_QUANTITY) {
				$("#saveProductionDetailOrder").attr('disabled', true);
				
				return;
			}
		}
		$("#saveProductionDetailOrder").attr('disabled', false);
	});
	
	function releaseMaterialGridInit() {
		if (releaseMaterialGrid) {
			releaseMaterialGrid.destroy(); // 기존 그리드 제거
			releaseMaterialGrid = null;
		}
		
		releaseMaterialGrid = new tui.Grid({
			el: document.getElementById('releaseMaterialGrid'),
			data: stockArr,
			scrollX: true,
			scrollY: true,
			bodyHeight: 250,
			columns: releaseMaterial_columns,
			editingEvent: 'click'
		});
	};
	
	$("#saveProductionDetailOrder").on('click', function() {
		$.ajax({
			type : "POST",
			url : "/rest/production/materialsDetail",
			contentType: "application/json",
			data: JSON.stringify({createdRows: releaseMaterialGrid.getData()}),
			success : function(res){
				if (!res.result) {
					alert("등록 실패");
					
					return;
				}
			},
			error : function(e){
				console.log("/rest/production/materialsDetail ajax 실패");
			}
		});
		
		$("#productionMaterialAdd").modal('hide');
		window.location.reload();
	});
</script>
