<!-- 모달창 -->
<div class="modal fade" id="warehouseAdd" th:fragment="warehouseAdd">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- 모달창 헤더 -->
			<div class="modal-header">
				<h4 class="modal-title">창고 코드 등록</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- /.모달창 헤더 -->
			
			<!-- 모달창 바디 -->
			<div class="modal-body">
				<!-- 검색 필터 -->
				<div class="d-flex justify-content-between bg-secondary rounded p-3 mb-4 m-2">
					<div class="d-flex">
						<div class="d-flex">
							<label class="col-form-label mr-3">창고 유형</label> 
							<select class="appointGubun" style="min-width: 120px" name="whseType">
								<option value="" selected="selected">전체</option>
				                <option value="원자재">원자재</option>
				                <option value="반제품">반제품</option>
				                <option value="완제품">완제품</option>
								<!-- ajax -->
							</select>
						</div>
						<div class="d-flex ml-4">
							<!-- Date range -->
							<label for="" class="col-form-label mr-3" style="min-width: 70px;">창고명</label>
							<input type="text" class="form-control float-right" id="whseName">
						</div>
					</div>
					<div class="d-flex">
						<button type="button" class="btn btn-primary" id="btn_whse_search">조회</button>
					</div>
				</div>
				<div class="card-body">
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<input type="hidden" id="whseRow" class="form-control">
							</div>
							<div class="col-md-6">
								<input type="hidden" id="whseColumn" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card-body" id="whseGrid">
									<!-- Toast Grid Ajax -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.모달창 바디 -->
			<!-- 모달창 푸터-->
			<div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" id="saveWhse" disabled>입력</button>
				</div>
			</div>
			<!-- /.모달창 푸터-->
		</div>
	</div>
</div>
<!-- /.모달창 -->
	
	<script th:fragment="warehouseAdd" th:inline="javascript">
		let whseGrid = null;
		let whseCurrentSelectedRowKey = null;
		let selectedWhseId = '';
		let selectedWhseName = '';
		let lAllData = [];
		
		const whseUrl = '/iteminfo/whse';
		const whseDataSource = {
			api: {
			    readData: {url: whseUrl, method: 'GET'},
			},
			contentType: 'application/json',
		};
		const whse_columns = [
	        {header: '창고 코드', name: 'WAREHOUSE_ID', align: 'center'},
	        {header: '창고명', name: 'WAREHOUSE_NAME', align: 'left'},
	        {header: '창고 유형', name: 'WAREHOUSE_TYPE', align: 'left'},
	    ];

	$('#warehouseAdd').on('shown.bs.modal', function () {
		selectedWhseId = '';
		selectedWhseName = '';
		$("#whseName").val('');
		$("#saveWhse").attr("disabled", true);
		
		if (whseGrid == null) {
	        whseInit();
	        return;
		}
		
		whseGrid.on('onGridUpdated', () => {
			const selectedIDs = itemGrid.getData()
			    .filter(row => row.isNew)
			    .map(row => row['WAREHOUSE_ID']);
		});
	});
	
	function whseInit() {
		whseGrid = new tui.Grid({
	        el: document.getElementById('whseGrid'),
	        data: whseDataSource,
	        scrollX: true,
	        scrollY: true,
	        bodyHeight: 250,
	        columns: whse_columns,
	    });
		
		whseGrid.on('failResponse', function(ev) {
	        alert(JSON.parse(ev.xhr.responseText).message);
	    });
		
		// 서버에서 데이터를 받아온 후 allData에 저장
		// 서버에서 데이터를 받아오는데 약간의 시간이 걸림 (약 110~250ms)
		setTimeout(function () {
		    lAllData = whseGrid.getData();
		    console.log("전체 데이터 로드 완료:", lAllData);
		}, 350);
		
		whseGrid.on('editingStart', function(ev) {
		    const {rowKey, columnName, value} = ev;
		    const rowData = whseGrid.getRow(rowKey);
			
		});
		
	    whseGrid.on('click', (ev) => {
			if (ev.targetType != "cell") {
				return;
			}
			
		    const newRowKey = ev.rowKey;

		    if (whseCurrentSelectedRowKey != null) {
		    	whseGrid.removeRowClassName(whseCurrentSelectedRowKey, 'selected-row');
		    }
		    
		    if (whseCurrentSelectedRowKey != newRowKey) {
		    	whseGrid.addRowClassName(newRowKey, 'selected-row');
		        whseCurrentSelectedRowKey = newRowKey;
		        
		        selectedWhseId = whseGrid.getRow(newRowKey).WAREHOUSE_ID;
		        selectedWhseName = whseGrid.getRow(newRowKey).WAREHOUSE_NAME;
		        $("#saveWhse").attr("disabled", false);
		    } else {
		        // 같은 행을 클릭한 경우 선택 해제
		        whseCurrentSelectedRowKey = null;
		        $("#saveWhse").attr("disabled", true);
		        selectedWhseId = '';
		        selectedWhseName = '';
		    }
		});
	}
	
	$("#saveWhse").on('click', function() {
		let whseRow = $("#whseRow").val();
		let whseColumn = $("#whseColumn").val();
		
		itemGrid.setValue(whseRow, whseColumn, selectedWhseId);
		itemGrid.setValue(whseRow, 'WAREHOUSE_NAME', selectedWhseName);
		
		$('#warehouseAdd').modal('hide');
	});
	
	$("#btn_whse_search").on("click", function() {
				
	    const whseType = $("select[name='whseType']").val();
	    const whseName = $("#whseName").val().trim().toLowerCase();

	    // 필터링된 데이터 추출
	    const filteredData = lAllData.filter(item => {
			return	(whseType === "" || item.WAREHOUSE_TYPE === whseType) &&
	        		(whseName === "" || item.WAREHOUSE_NAME.toLowerCase().includes(whseName))
	    });
		
		console.log(filteredData);

	    // 필터링된 데이터로 그리드 갱신
	    whseGrid.resetData(filteredData);
	});
	

</script>
