<!-- 모달창 -->
<div class="modal fade" id="workcenterRoutingAdd" th:fragment="workcenterRoutingAdd">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- 모달창 헤더 -->
			<div class="modal-header">
				<h4 class="modal-title">워크센터 라우팅 등록</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- /.모달창 헤더 -->
			
			<!-- 모달창 바디 -->
			<div class="modal-body">
				<!-- 검색 필터 -->
				<div class="d-flex justify-content-between bg-secondary rounded p-3 mb-4 m-2">
					<div class="d-flex">
						<div class="d-flex ml-4">
							<!-- Date range -->
							<label for="" class="col-form-label mr-3" style="min-width: 120px;">라우팅 코드/명</label>
							<input type="text" class="form-control float-right" id="routingSearchKeyword">
						</div>
					</div>
					<div class="d-flex">
						<button type="button" class="btn btn-primary" id="btnRoutingSearch">조회</button>
					</div>
				</div>
			
				<div class="card-body">
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<input type="hidden" id="routingRow" class="form-control">
							</div>
							<div class="col-md-6">
								<input type="hidden" id="routingColumn" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card-body" id="routingGrid">
									<!-- Toast Grid Ajax -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.모달창 바디 -->
			<!-- 모달창 푸터-->
			<div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" id="saveRouting" disabled>입력</button>
				</div>
			</div>
			<!-- /.모달창 푸터-->
		</div>
	</div>
</div>
<!-- /.모달창 -->

<script th:fragment="workcenterRoutingAdd" th:inline="javascript">
	let routingGrid = null;
	let routingCurrentSelectedRowKey = null;
	let selectedRoutingId = '';
	let routingParam = {searchKeyword : '', use_yn: 'Y'};
	const routingUrl = '/rest/manufacture/routing';
	const routingDataSource = {
		api: {
		    readData: {url: routingUrl, method: 'GET', initParams: {use_yn: 'Y'}},
		},
		contentType: 'application/json',
	};
	const routing_columns = [
        {header: '라우팅코드', name: 'ROUTING_ID', align: 'center'},
        {header: '라우팅명', name: 'NAME', align: 'left'},
        {header: '품목명', name: 'ITEM_NAME', align: 'left'},
    ];
	
	$('#workcenterRoutingAdd').on('shown.bs.modal', function () {
		routingParam.searchKeyword = '';
		selectedRoutingId = '';
		$("#routingName").val('');
		$("#saveRouting").attr("disabled", true);
		
		if (routingGrid == null) {
	        routingInit();
	        
	        return;
		}
		
		routingGrid.readData(1, routingParam, true);
	});
	
	function routingInit() {
		routingGrid = new tui.Grid({
	        el: document.getElementById('routingGrid'),
	        data: routingDataSource,
	        scrollX: true,
	        scrollY: true,
	        bodyHeight: 250,
	        columns: routing_columns,
	    });
		
		routingGrid.on('failResponse', function(ev) {
	        alert(JSON.parse(ev.xhr.responseText).message);
	    });
		
	    routingGrid.on('click', (ev) => {
		    const newRowKey = ev.rowKey;

		    if (routingCurrentSelectedRowKey != null) {
		    	routingGrid.removeRowClassName(routingCurrentSelectedRowKey, 'selected-row');
		    }
		    
		    if (routingCurrentSelectedRowKey != newRowKey) {
		    	routingGrid.addRowClassName(newRowKey, 'selected-row');
		        routingCurrentSelectedRowKey = newRowKey;
		        
		        selectedRoutingId = routingGrid.getRow(newRowKey).ROUTING_ID;
		        $("#saveRouting").attr("disabled", false);
		    } else {
		        // 같은 행을 클릭한 경우 선택 해제
		        routingCurrentSelectedRowKey = null;
		        $("#saveRouting").attr("disabled", true);
		        selectedRoutingId = '';
		    }
		});
	}
	
 	$("#saveRouting").on('click', function() {
 		const workcenterRow = $("#workcenterRow").val();
 		const workcenterColumn = $("#workcenterColumn").val();
 		const workcenterCode = $("#workcenterCode").val();
		
 		let routingRow = $("#routingRow").val();
 		let routingColumn = $("#routingColumn").val();
 		workcenterGrid.setValue(routingRow, routingColumn, selectedRoutingId);
		
 		$('#workcenterRoutingAdd').modal('hide');
 	});
	
 	$("#btnRoutingSearch").on("click", function() {
 		routingParam.searchKeyword = $("#routingSearchKeyword").val();
 		selectedRoutingId = '';
 		$("#saveRouting").attr("disabled", true);
		
 		routingGrid.readData(1, routingParam, true);
 	});
</script>
