<nav class="main-header navbar navbar-expand navbar-white navbar-light" th:fragment="navbar">
	<!-- 상단 왼쪽 -->
 	<ul class="navbar-nav"> 
		<!-- 메뉴 -->
 	</ul> 
	<!-- /.상단 왼쪽-->
	
	<!-- 상단 오른쪽 -->
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<a class="nav-link" role="button" onclick="location.href='/logout'">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
					<path d="M7.5 1v7h1V1z"/>
					<path d="M3 8.812a5 5 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812"/>
				</svg>
				<span>로그아웃</span>
			</a>
		</li>
	</ul>
	<!-- /.상단 오른쪽-->
</nav>

<script th:fragment="navbar" th:inline="javascript">
	let topMenuData = /*[[${top_menus}]]*/
	
	document.addEventListener("DOMContentLoaded", () => {
	    const navbar = document.querySelector(".navbar-nav");
	    if (navbar) {
	        navbar.innerHTML = generateTopMenu(topMenuData);
	    }
	});
	
	function generateTopMenu(topMenuData) {
        if (!topMenuData.length) {
			return '';
		}
        let html = '';
        topMenuData.forEach(item => {
            html += `
                <li class="nav-item d-none d-sm-inline-block">
					<a href="" onclick="test('${item.CATEGORY_ID}')" class="nav-link">${item.NAME}</a>
                </li>
            `;
        });
		
        return html;
    }
	
	function test(id) {
		document.cookie = "menuCategory=" + id + "; path=/";
		window.location.reload();
	}
</script>
