<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar">
	<!-- Brand Logo -->
	<div class="card-header text-center">
		<a href="/" class="h1" style="color : white;"><b>Aurora</b>ERP</a>
	</div>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img class="img-circle elevation-2" th:src="${userInfo.PROFILE_PIC}" alt="/images/default.jpg">
			</div>
			<div class="info">
				<a th:href="@{/mypage}" class="d-block"><span th:text="${userInfo.NAME}"></span></a>
			</div>
		</div>

		<!-- 메인 정보 -->
		<nav class="mt-2">
			<!-- 메뉴리스트 -->
		</nav>
		<!-- /.메인 정보 -->
	</div>
	<!-- /.sidebar -->
</aside>

<script th:fragment="sidebar" th:inline="javascript">
	let menuData = /*[[${menus}]]*/
	
	document.addEventListener("DOMContentLoaded", () => {
	    const sidebar = document.querySelector(".mt-2");
	    if (sidebar) {
	        sidebar.innerHTML = generateMenu(menuData);
	    }
	});
	
	function generateMenu(data) {
	    const menuMap = new Map();

	    data.forEach(item => {
	        menuMap.set(item.MENU_ID, { ...item, children: [] });
	    });
		
	    // 부모-자식 관계 설정
	    data.forEach(item => {
	        if (item.PARENT_ID) {
	            const parent = menuMap.get(item.PARENT_ID);
	            if (parent) {
	                parent.children.push(menuMap.get(item.MENU_ID));
	            }
	        }
	    });

	    // 최상위 메뉴만 반환
	    const rootItems = [...menuMap.values()].filter(item => !item.PARENT_ID);
	    
	    function createMenuHTML(items) {
	        if (!items.length) {
				return '';
			}
			
	        let html = '<ul class="nav nav-treeview">';
	        items.forEach(item => {
	            html += `
	                <li class="nav-item">
	                    <a href="${item.URL || '#'}" class="nav-link">
	                        <p>${item.NAME}${item.URL ? '' : '<i class="fas fa-angle-left right"></i>'}</p>
	                    </a>
	                    ${createMenuHTML(item.children)}
	                </li>
	            `;
	        });
	        html += '</ul>';
			
	        return html;
	    }

	    let html = '<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">';
	    rootItems.forEach(item => {
	        html += `
	            <li class="nav-item">
	                <a href="${item.URL || '#'}" class="nav-link">
	                    <p>${item.NAME}${item.URL ? '' : '<i class="fas fa-angle-left right"></i>'}</p>
	                </a>
	                ${createMenuHTML(item.children)}
	            </li>
	        `;
	    });
	    html += '</ul>';
	    return html;
	}
</script>
