<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클 MyBatis 사용시 문장 끝에 세미콜론 있으면 오류남! -->

<mapper namespace="com.itwillbs.repository.AdminLeaveMapper">

	<!-- 전체 직원 연차 리스트 -->
	<select id="selectLeaveList" resultType="map">
		SELECT
			   LH.MEMBER_ID
			 , M.NAME 
			 , REQUEST_ID 
			 , CC.CODE_ID AS TYPE
			 , START_DATE 
			 , END_DATE  
			 , USED_DAYS
		 FROM
		 	   LEAVE_HISTORY LH 
	LEFT JOIN
			   MEMBER M
			   					ON
			   					   LH.MEMBER_ID = M.MEMBER_ID 
	LEFT JOIN
			   COMMON_CODE CC
			   					ON
			   					   LH.LEAVE_TYPE_ID  = CC.CODE_ID
	</select>
</mapper>
