<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클 MyBatis 사용시 문장 끝에 세미콜론 있으면 오류남! -->

<mapper namespace="com.itwillbs.repository.ClientInfoMapper">
    <select id="selectClientInfo" resultType="map">
		SELECT 
			  CLIENT_ID
			, CLIENT_NAME
			, CLIENT_TYPE
			, BUSINESS_NUMBER
<!--			, CONCAT(SUBSTRING(BUSINESS_NUMBER, 1, 2), '-', SUBSTRING(BUSINESS_NUMBER, 3, 3), '-', SUBSTRING(BUSINESS_NUMBER, 6, 5)) AS BUSINESS_NUMBER-->
			, CEO_NAME
			, CLIENT_TEL
			, CLIENT_STATUS
		FROM CLIENT
		ORDER BY CLIENT_ID ASC 
    </select>
    
    <select id="selectClientInfoDetail" resultType="map">
    	SELECT
    		  ZIPCODE
			, CLIENT_ADDRESS
			, RESP_NAME
			, RESP_EMAIL
			, DESCRIPTION
			, CLIENT_ID
		FROM CLIENT
		WHERE CLIENT_ID = #{CLIENT_ID}
    </select>

    <insert id="insertClientInfo">
    	INSERT ALL
		<foreach collection="list" item="item">
			INTO CLIENT (
				  CLIENT_ID
				, CLIENT_NAME
				, CLIENT_TYPE
				, BUSINESS_NUMBER
				, CEO_NAME
				, CLIENT_TEL
				, CLIENT_STATUS
			)
			VALUES (
				  #{item.CLIENT_ID}
				, #{item.CLIENT_NAME}
				, #{item.CLIENT_TYPE}
				, #{item.BUSINESS_NUMBER, jdbcType=VARCHAR}
				, #{item.CEO_NAME, jdbcType=VARCHAR}
				, #{item.CLIENT_TEL, jdbcType=VARCHAR}
				, #{item.CLIENT_STATUS}
			)
		</foreach>
		SELECT * FROM DUAL
    </insert>
    
    <update id="updateClientInfo">
		<foreach collection="list" item="row" separator=";" open="DECLARE BEGIN" close="; END;">
	        UPDATE CLIENT
	           SET 
	               CLIENT_ID = #{row.CLIENT_ID}
	             , CLIENT_NAME = #{row.CLIENT_NAME}
	             , CLIENT_TYPE = #{row.CLIENT_TYPE}
	             , BUSINESS_NUMBER = #{row.BUSINESS_NUMBER, jdbcType=VARCHAR}
	             , CEO_NAME = #{row.CEO_NAME, jdbcType=VARCHAR}
	             , CLIENT_TEL = #{row.CLIENT_TEL, jdbcType=VARCHAR}
	             , CLIENT_STATUS = #{row.CLIENT_STATUS}
	         WHERE CLIENT_ID = #{row.CLIENT_ID}
	    </foreach>
    </update>

    <update id="updateClientDetail">
		<foreach collection="list" item="row" separator=";" open="DECLARE BEGIN" close="; END;">
	        UPDATE CLIENT
	           SET 
	               ZIPCODE = #{row.ZIPCODE, jdbcType=VARCHAR}
	             , CLIENT_ADDRESS = #{row.CLIENT_ADDRESS, jdbcType=VARCHAR}
	             , RESP_NAME = #{row.RESP_NAME, jdbcType=VARCHAR}
				 , RESP_EMAIL = #{row.RESP_EMAIL, jdbcType=VARCHAR}
	             , DESCRIPTION = #{row.DESCRIPTION, jdbcType=VARCHAR}
	         WHERE CLIENT_ID = #{row.CLIENT_ID}
	    </foreach>
    </update>
    
    <delete id="deleteClientInfo">
	    DELETE FROM CLIENT
	     WHERE CLIENT_ID IN
	    <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
	        #{id}
	    </foreach>
    </delete>

    <update id="deleteClientDetail">
	     UPDATE CLIENT
    	 	SET 
    	 		ZIPCODE = NULL
    	 	  , CLIENT_ADDRESS = NULL
    	 	  , RESP_NAME = NULL
    	 	  , RESP_EMAIL = NULL
    	 	  , DESCRIPTION = NULL
   		 WHERE CLIENT_ID IN
    <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
        #{id}
    </foreach>
    </update>
    
    <select id="checkDuplicateClientCode">
	    SELECT count(*) AS COUNT
			FROM CLIENT
		WHERE CLIENT_ID = #{CLIENT_ID}
    </select>
        
</mapper>