<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클 MyBatis 사용시 문장 끝에 세미콜론 있으면 오류남! -->

<mapper namespace="com.itwillbs.repository.CmtMapper">
   
<insert id="getCheckIn" parameterType="map">
    INSERT INTO COMMUTE (COMMUTE_ID, MEMBER_ID, CHECK_IN_TIME,  CHECK_IN_DATE, CHECK_OUT_DATE)
    VALUES ((SELECT 'C' || LPAD(NVL(MAX(TO_NUMBER(SUBSTR(COMMUTE_ID, 2))), 0) + 1, 10, '0') FROM COMMUTE)
    , #{memberId, jdbcType=VARCHAR},
            <choose>
                <when test="checkInTime != null">
                    #{checkInTime, jdbcType=VARCHAR} <!-- String 형식으로 저장 -->
                </when>
                <otherwise>
                    TO_CHAR(SYSDATE, 'HH24:MI:SS') <!-- 현재 시간 형식으로 저장 -->
                </otherwise>
            </choose>,
            <choose>
                <when test="checkInDate != null">
                    #{checkInDate, jdbcType=VARCHAR} <!-- checkInTime을 CHECK_IN_DATE에 넣기 -->
                </when>
                <otherwise>
                    TO_CHAR(SYSDATE, 'YYYY-MM-DD') <!-- 기본값으로 현재 날짜를 'YYYY-MM-DD' 형식으로 저장 -->
                </otherwise>
            </choose>,
            <choose>
                <when test="checkOutDate != null">
                    #{checkOutDate, jdbcType=VARCHAR} <!-- checkInTime을 CHECK_IN_DATE에 넣기 -->
                </when>
                <otherwise>
                    TO_CHAR(SYSDATE, 'YYYY-MM-DD') <!-- 기본값으로 현재 날짜를 'YYYY-MM-DD' 형식으로 저장 -->
                </otherwise>
            </choose>
    )
</insert>


<update id="updateCheckOut" parameterType="map">
    UPDATE COMMUTE
    SET CHECK_OUT_TIME = 
        <choose>
            <when test="checkOutTime != null">
                #{checkOutTime, jdbcType=VARCHAR} <!-- String 형식으로 저장 -->
            </when>
            <otherwise>
                TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS') <!-- 현재 시간 형식으로 저장 -->
            </otherwise>
        </choose>
    WHERE MEMBER_ID = #{memberId, jdbcType=VARCHAR}
      AND CHECK_OUT_TIME IS NULL
</update>


<select id="selectTodayHistory" parameterType="map" resultType="map">

SELECT 
    NVL(check_in_time, ' ') AS check_in_time,
    NVL(check_out_time, ' ') AS check_out_time
FROM commute
WHERE member_id = #{memberId}
  AND TO_DATE(check_in_date) = TRUNC(CURRENT_DATE)
  </select>

</mapper>