<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클 MyBatis 사용시 문장 끝에 세미콜론 있으면 오류남! -->

<mapper namespace="com.itwillbs.repository.CmtMapper">
   
    <!-- 출근 기록 저장 -->
<!--    <insert id="getCheckIn" parameterType="map">-->
<!--        INSERT INTO COMMUTE (ID, MEMBER_ID, CHECK_IN_TIME, CREATE_DATE)-->
<!--        VALUES (#{id}, #{memberId}, SYSDATE, SYSDATE)-->
<!-- INSERT INTO COMMUTE (ID, MEMBER_ID, CHECK_IN_TIME, CREATE_DATE)-->
<!--    VALUES (#{id}, #{memberId, jdbcType=VARCHAR}, #{checkInTime, jdbcType=TIMESTAMP}, #{createDate, jdbcType=TIMESTAMP})-->
<!--    </insert>-->

     <insert id="getCheckIn" parameterType="map">
    INSERT INTO COMMUTE (ID, MEMBER_ID, CHECK_IN_TIME, CREATE_DATE)
    VALUES (#{id}, #{memberId, jdbcType=VARCHAR}, 
            <choose>
                <when test="checkInTime != null">
                    #{checkInTime, jdbcType=TIMESTAMP}
                </when>
                <otherwise>
                    SYSDATE
                </otherwise>
            </choose>, 
            <choose>
                <when test="createDate != null">
                    #{createDate, jdbcType=TIMESTAMP}
                </when>
                <otherwise>
                    SYSDATE
                </otherwise>
            </choose>)
</insert>

<update id="updateCheckOut" parameterType="map">
    UPDATE COMMUTE
    SET CHECK_OUT_TIME = 
        <choose>
            <when test="checkOutTime != null">
                #{checkOutTime, jdbcType=TIMESTAMP}
            </when>
            <otherwise>
                SYSDATE
            </otherwise>
        </choose>
    WHERE MEMBER_ID = #{memberId, jdbcType=VARCHAR}
      AND CHECK_OUT_TIME IS NULL
</update>
<select id="selectTodayHistory" parameterType="map" resultType="map">
SELECT 
    	  NVL(TO_CHAR(check_in_time), ' ') AS check_in_time
    	, NVL(TO_CHAR(CHECK_OUT_TIME), ' ') AS check_out_time 
    FROM commute
    WHERE member_id = #{memberId}
    AND TRUNC(CHECK_IN_TIME) = TRUNC(CURRENT_DATE)
</select>


<!-- <select id="selectTodayHistory" parameterType="map" resultType="map"> -->
<!--     SELECT  -->
<!--     	  check_in_time -->
<!--     	, check_out_time -->
<!--     FROM commute -->
<!--     WHERE member_id = #{memberId} -->
<!--     AND TRUNC(CHECK_IN_TIME) = TRUNC(CURRENT_DATE) -->
<!-- </select> -->


</mapper>