<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클 MyBatis 사용시 문장 끝에 세미콜론 있으면 오류남! -->

<mapper namespace="com.itwillbs.repository.EquipmentMapper">
    <select id="selectEquipment" resultType="map">
        SELECT
			   EQUIPMENT_ID
			 , EQUIPMENT_NAME
			 , EQUIPMENT_STATUS
			 , EQUIPMENT_NOTE
          FROM EQUIPMENT
    </select>
    
    <insert id="insertEquipment">
    
    </insert>
    
    <update id="updateEquipment">

    </update>
    
    <delete id="deleteEquipment">

    </delete>
    
</mapper>