<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클 MyBatis 사용시 문장 끝에 세미콜론 있으면 오류남! -->

<mapper namespace="com.itwillbs.repository.GoodsOrderMapper">

<select id="getGoodsList" resultType="map">
	SELECT 
    GO.GO_ID,
    GO.PO_ID,
    TO_CHAR(GO.CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE,
    C.CLIENT_NAME,
    C.RESP_NAME,
    NVL(SUM(PD.PO_COUNT), 0) AS GO_COUNT,
    TO_CHAR(NVL(SUM(PD.TOTAL_PRICE), 0), 'FM9,999,999') || '원' AS GO_PRICE,
    TO_CHAR(GO.UPDATE_DATE, 'YYYY-MM-DD') AS UPDATE_DATE,
    UM.NAME AS UPDATE_MEMBER,
    (SELECT SUB_NAME FROM MES_COMMON WHERE SUB_ID = GO.GO_STATUS AND MAIN_ID = 'STATUS') AS GO_STATUS
FROM
    GOODS_ORDER GO
LEFT JOIN PO_DETAIL PD ON GO.PO_ID = PD.PO_ID
LEFT JOIN CLIENT C ON GO.CLIENT_ID = C.CLIENT_ID
LEFT JOIN MEMBER UM ON GO.UPDATE_MEMBER = UM.MEMBER_ID
GROUP BY
    GO.GO_ID,
    GO.PO_ID,
    GO.CREATE_DATE,
    C.CLIENT_NAME,
    C.RESP_NAME,
    GO.UPDATE_DATE,
    UM.NAME,
    GO.GO_STATUS
ORDER BY GO.CREATE_DATE DESC
</select>

<!--발주 리스트 모달-->
<select id="getGoodsPoList" resultType="map" parameterType="map">
    SELECT 
        PO.PO_ID, 
        TO_CHAR(PO.CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE, 
        C.CLIENT_NAME,
        C.RESP_NAME   	
    FROM PURCHASE_ORDER PO
    LEFT JOIN CLIENT C ON PO.CLIENT_ID = C.CLIENT_ID
    WHERE 1 = 1
      -- GOODS_ORDER에 존재하지 않는 PO_ID만 선택
      AND PO.PO_ID NOT IN (SELECT GO.PO_ID FROM GOODS_ORDER GO)
      <if test='po_id != null and po_id != ""'>
          AND PO.PO_ID = #{po_id}
      </if>
      <if test='create_date != null and create_date != ""'>
          AND TRUNC(PO.CREATE_DATE) = TO_DATE(#{create_date}, 'YYYY-MM-DD')
      </if>
</select>

	<insert id="insertGoods" parameterType="map">
	INSERT INTO GOODS_ORDER (
        GO_ID,
        PO_ID,
        CREATE_DATE,
        MEMBER_ID,
        CLIENT_ID,
        GO_STATUS
    )
    SELECT 
        'GO-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(GO_SEQ.NEXTVAL, 4, '0') AS GO_ID,
        p.PO_ID,
        SYSDATE,
        #{INSERT_MEM},
        c.CLIENT_ID,
        #{GO_STATUS}
    FROM PURCHASE_ORDER p
    JOIN CLIENT c 
      ON p.CLIENT_ID = c.CLIENT_ID
    WHERE p.PO_ID = #{PO_ID}	

</insert>

	<update id="updateGoods" parameterType="map">
    UPDATE GOODS_ORDER
    	SET 
       	 	CREATE_DATE = CURRENT_DATE,
       	 	GO_COUNT = #{GO_COUNT, jdbcType=INTEGER},
       	 	UPDATE_DATE = CURRENT_DATE,
       	 	UPDATE_MEMBER = #{UPDATE_MEM},
       	 	GO_STATUS = #{GO_STATUS}
    WHERE GO_ID = #{GO_ID, jdbcType=VARCHAR}  <!-- PO_ID를 기준으로 업데이트 -->
	</update>


<!-- DELETE (데이터 삭제) -->
    <delete id="deleteGoods">
        DELETE FROM GOODS_ORDER
        	WHERE GO_ID = #{GO_ID}
    </delete>

<!--입고 상세 리스트-->
<select id="getGoodsDetail" resultType="map" parameterType="map">
     SELECT
        ROW_NUMBER() OVER (ORDER BY TO_NUMBER(pd.PODETAIL_ID)) AS SEQ,  
        pd.PODETAIL_ID,
        go.PO_ID,               
        m.MATERIAL_ID,
        m.MATERIAL_NAME,
        m.UNIT,
        pd.PO_COUNT AS GO_COUNT,
        TO_CHAR(pd.PO_PRICE, 'FM9,999,999') || '원' AS GO_PRICE,
        TO_CHAR((pd.PO_COUNT * m.MATERIAL_PRICE) * 0.1, 'FM9,999,999') || '원' AS VAT,
        TO_CHAR(pd.TOTAL_PRICE, 'FM9,999,999') || '원' AS TOTAL_PRICE,
        pd.UPDATE_DATE,
        pd.UPDATE_MEMBER,
        mc.SUB_NAME AS GO_STATUS  -- MES_COMMON 테이블에서 상태명 가져오기
    FROM 
     (SELECT 
            PODETAIL_ID,
            PO_ID,
            MATERIAL_ID,
            SUM(PO_COUNT) AS PO_COUNT,
            SUM(PO_PRICE) AS PO_PRICE,
            SUM(TOTAL_PRICE) AS TOTAL_PRICE,
            MAX(UPDATE_DATE) AS UPDATE_DATE,
            MAX(UPDATE_MEMBER) AS UPDATE_MEMBER,
            MIN(PO_STATUS) AS PO_STATUS
        FROM PO_DETAIL
        GROUP BY PODETAIL_ID, PO_ID, MATERIAL_ID
    ) pd 
    LEFT JOIN GOODS_ORDER go ON go.PO_ID = pd.PO_ID 
	LEFT JOIN GO_DETAIL gd ON go.GO_ID = gd.GO_ID AND pd.PODETAIL_ID = gd.PODETAIL_ID
    LEFT JOIN MATERIAL m ON pd.MATERIAL_ID = m.MATERIAL_ID  -- 품목 정보 조인
    LEFT JOIN MES_COMMON mc ON pd.PO_STATUS = mc.SUB_ID AND mc.MAIN_ID = 'STATUS' -- 상태명 조회

    WHERE go.GO_ID = #{GO_ID}
</select>

<!-- 발주 상세 수정 -->
<update id="updateDetail" parameterType="map">
    UPDATE GO_DETAIL
    	SET 
       	 	GO_COUNT = #{GO_COUNT},
       	 	TOTAL_PRICE   = #{GO_COUNT} * GO_PRICE,
       	 	UPDATE_DATE = CURRENT_DATE,
       	 	UPDATE_MEMBER = #{UPDATE_MEM}
    WHERE GODETAIL_ID = #{GODETAIL_ID, jdbcType=VARCHAR}  <!-- PO_ID를 기준으로 업데이트 -->
	</update>


<!-- DELETE (데이터 삭제) -->
    <delete id="deleteDetail" parameterType="map">
        DELETE FROM GO_DETAIL 
        	WHERE GODETAIL_ID = #{GODETAIL_ID}
    </delete>


<!-- 입고 상세 등록 -->
<insert id="insertGoDetail" parameterType="map">
	<![CDATA[
        INSERT INTO GO_DETAIL (
            GODETAIL_ID,
            GO_ID,
            PODETAIL_ID,
            MATERIAL_ID,
            CREATE_DATE,
            GO_COUNT,
            GO_PRICE,
            TOTAL_PRICE,
            GO_STATUS
        )
        SELECT 
            SEQ_GODETAIL.NEXTVAL,
            go.GO_ID,
            pd.PODETAIL_ID,
            m.MATERIAL_ID,
            CURRENT_DATE,
            pd.PO_COUNT,
            pd.PO_PRICE,
            pd.TOTAL_PRICE,
            'Y'
        FROM PO_DETAIL pd
        JOIN GOODS_ORDER go ON pd.PO_ID = go.PO_ID
        JOIN MATERIAL m ON pd.MATERIAL_ID = m.MATERIAL_ID
        WHERE pd.PODETAIL_ID = #{PODETAIL_ID}
    ]]>
</insert>

<!-- 발주 상세 상태 변경 -->
<update id="updatePoDetail" parameterType="map">
    <![CDATA[
        UPDATE PO_DETAIL
        SET PO_STATUS = 'Y'
        WHERE PODETAIL_ID = #{PODETAIL_ID}
    ]]>
</update>

<!-- 발주 상태 변경 -->
<update id="updatePurchaseOrderStatus" parameterType="map">
    <![CDATA[
        UPDATE PURCHASE_ORDER
        SET PO_STATUS = (
            SELECT 
                CASE 
                    WHEN SUM(CASE WHEN PO_STATUS = 'N' THEN 1 ELSE 0 END) > 0 
                         AND SUM(CASE WHEN PO_STATUS = 'Y' THEN 1 ELSE 0 END) = 0 
                    THEN 'N'
                    WHEN SUM(CASE WHEN PO_STATUS = 'N' THEN 1 ELSE 0 END) > 0 
                         AND SUM(CASE WHEN PO_STATUS = 'Y' THEN 1 ELSE 0 END) > 0 
                    THEN 'I'
                    WHEN SUM(CASE WHEN PO_STATUS = 'N' THEN 1 ELSE 0 END) = 0 
                         AND SUM(CASE WHEN PO_STATUS = 'Y' THEN 1 ELSE 0 END) > 0 
                    THEN 'Y'
                END
            FROM PO_DETAIL
            WHERE PO_ID = (SELECT PO_ID FROM PO_DETAIL WHERE PODETAIL_ID = #{PODETAIL_ID})
        )
        WHERE PO_ID = (SELECT PO_ID FROM PO_DETAIL WHERE PODETAIL_ID = #{PODETAIL_ID})
    ]]>
</update>

<!-- 입고 상태 변경 -->
<update id="updateGoodsOrderStatus" parameterType="map">
    <![CDATA[
        UPDATE GOODS_ORDER
        SET GO_STATUS = (
            SELECT 
                CASE 
                    WHEN SUM(CASE WHEN GO_STATUS = 'N' THEN 1 ELSE 0 END) > 0 
                         AND SUM(CASE WHEN GO_STATUS = 'Y' THEN 1 ELSE 0 END) = 0 
                    THEN 'N'
                    WHEN SUM(CASE WHEN GO_STATUS = 'N' THEN 1 ELSE 0 END) > 0 
                         AND SUM(CASE WHEN GO_STATUS = 'Y' THEN 1 ELSE 0 END) > 0 
                    THEN 'I'
                    WHEN SUM(CASE WHEN GO_STATUS = 'N' THEN 1 ELSE 0 END) = 0 
                         AND SUM(CASE WHEN GO_STATUS = 'Y' THEN 1 ELSE 0 END) > 0 
                    THEN 'Y'
                END
            FROM GO_DETAIL
            WHERE GO_ID = #{goId}
        )
        WHERE GO_ID = #{goId}
    ]]>
</update>

</mapper>