<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클 MyBatis 사용시 문장 끝에 세미콜론 있으면 오류남! -->

<mapper namespace="com.itwillbs.repository.ItemInfoMapper">
    <select id="selectItemInfo" resultType="map">
		SELECT
			  I.ITEM_ID
			, I.ITEM_NAME
			, I.ITEM_TYPE
			, (SELECT MAIN_NAME
				FROM MES_COMMON_GROUP MCG 
				WHERE I.MAIN_ID = MCG.MAIN_ID ) AS MAIN_NAME
			, (SELECT SUB_NAME
				FROM MES_COMMON MC
				WHERE I.SUB_ID = MC.SUB_ID) AS SUB_NAME
			, I.USE_YN 
			, I.ITEM_UNIT
		    , (SELECT CLIENT_NAME
				FROM CLIENT c 
				WHERE I.CLIENT_ID = C.CLIENT_ID) AS CLIENT_NAME
		    , I.ITEM_COST
		    , I.INB_INSP
		    , (SELECT WAREHOUSE_NAME
		    	FROM WAREHOUSE w 
		    	WHERE I.WAREHOUSE_ID = W.WAREHOUSE_ID) AS WAREHOUSE_NAME
		    , I.SAFTY_INVENTORY
		FROM ITEM I;
    </select>
</mapper>