<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클 MyBatis 사용시 문장 끝에 세미콜론 있으면 오류남! -->

<mapper namespace="com.itwillbs.repository.PurchaseMapper">

	<select id="getPurchaseList" resultType="map">	
	SELECT PO_NUM,
		   PO_COUNT,
		   PO_PRICE,
		   TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE,
		   (SELECT NAME FROM MEMBER M1 WHERE M1.MEMBER_ID = PO.MEMBER_ID) AS MEMBER_NAME,
		   CUSTOMER_ID,
		   PO_STATUS,
		   TO_CHAR(UPDATE_DATE, 'YYYY-MM-DD') AS UPDATE_DATE,
		   (SELECT NAME FROM MEMBER M2 WHERE M2.MEMBER_ID = PO.UPDATE_MEMBER) AS UPDATE_MEMBER
	FROM 
		PURCHASE_ORDER PO
	</select>
	
	<insert id="insertPurchase">
	INSERT INTO PURCHASE_ORDER (
<!-- 			PO_ID -->
		    CREATE_DATE
		  , MEMBER_ID
		  , CUSTOMER_ID
		  , PO_STATUS
		  , PO_NUM		
		) VALUES (
<!--         #{PO_ID},  -->
          CURRENT_DATE, 
        #{INSERT_MEM}, 
        #{CUSTOMER_ID}, 
        #{PO_STATUS}, 
        'PO' || TO_CHAR(CURRENT_DATE, 'YYYYMMDD-HH24MISS')
    )
	</insert>
	
	<update id="updatePurchase">
    UPDATE PURCHASE_ORDER
    	SET 
       	 	CREATE_DATE = CURRENT_DATE,
       	 	CUSTOMER_ID = #{CUSTOMER_ID},
       	 	UPDATE_DATE = CURRENT_DATE,
       	 	UPDATE_MEMBER = #{UPDATE_MEM},
       	 	PO_NUM = #{PO_NUM, jdbcType=VARCHAR}
    WHERE PO_NUM = #{PO_NUM, jdbcType=VARCHAR}  <!-- PO_ID를 기준으로 업데이트 -->
	</update>
	
	<!-- DELETE (데이터 삭제) -->
    <delete id="deletePurchase">
        DELETE FROM PURCHASE_ORDER 
        	WHERE PO_NUM = #{PO_NUM}
    </delete>
    
</mapper>