<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클 MyBatis 사용시 문장 끝에 세미콜론 있으면 오류남! -->

<mapper namespace="com.itwillbs.repository.PurchaseMapper">

	<select id="getPurchaseList" resultType="map">	
	SELECT PO_ID,
		   PO_COUNT,
		   PO_PRICE,
		   TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE,
		   MEMBER_ID,
		   CUSTOMER_ID,
		   PO_STATUS,
		   TO_CHAR(UPDATE_DATE, 'YYYY-MM-DD') AS UPDATE_DATE,
		   UPDATE_MEMBER
	FROM 
		PURCHASE_ORDER
	</select>
	
	<insert id="insertPurchase">
	INSERT INTO PURCHASE_ORDER (
			PO_ID
		  , PO_COUNT
		  , PO_PRICE
		  , CREATE_DATE
		  , MEMBER_ID
		  , CUSTOMER_ID
		  , PO_STATUS
		  , UPDATE_DATE
		  , UPDATE_MEMBER
		  , PO_NUM		
		) VALUES (
        SYS_GUID(), 
        #{PO_COUNT}, 
        #{PO_PRICE}, 
        CURRENT_DATE, 
        #{MEMBER_ID}, 
        #{CUSTOMER_ID}, 
        NVL(#{PO_STATUS, jdbcType=VARCHAR}, '미결'), 
        CURRENT_DATE, 
        #{UPDATE_MEMBER}, 
        #{PO_NUM, jdbcType=VARCHAR}
    )
	</insert>
	
	<update id="updatePurchase">
    UPDATE PURCHASE_ORDER
    	SET 
       	 	PO_COUNT = #{PO_COUNT},
       	 	PO_PRICE = #{PO_PRICE},
       	 	CREATE_DATE = CURRENT_DATE,
       	 	MEMBER_ID = #{MEMBER_ID},
       	 	CUSTOMER_ID = #{CUSTOMER_ID},
       	 	PO_STATUS = NVL(#{PO_STATUS, jdbcType=VARCHAR}, '미결'),
       	 	UPDATE_DATE = CURRENT_DATE,
       	 	UPDATE_MEMBER = #{UPDATE_MEMBER},
       	 	PO_NUM = #{PO_NUM, jdbcType=VARCHAR}
    WHERE PO_ID = #{PO_ID}  <!-- PO_ID를 기준으로 업데이트 -->
	</update>
	
	<!-- DELETE (데이터 삭제) -->
    <delete id="deletePurchase">
        DELETE FROM PURCHASE_ORDER WHERE PO_ID = #{PO_ID, jdbcType=VARCHAR}
    </delete>
    
</mapper>