<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클 MyBatis 사용시 문장 끝에 세미콜론 있으면 오류남! -->

<mapper namespace="com.itwillbs.repository.SalaryMapper">

    <select id="selectSalaryList" resultType="map">
    <!-- selectSalaryList - 급여기록 조회 -->
    <!-- getSalaryListMinMaxDate에서 조회된 최대최소일 범위의 급여기록 조회 -->
		SELECT
			  MEMBER_ID
			, GRADE_ID
			, PAYDAY
			, POSITION_BONUS
			, HOLIDAY_BONUS
		FROM
			SALARY
		WHERE
			1 = 1
			<if test='id != "admin"'>
			   AND
				  member_id = #{id}
		  	</if>
			<if test='startDate != null and startDate != "" 
						and endDate != null and endDate != ""'>
				AND 
					PAYDAY BETWEEN #{startDate} 
					AND #{endDate} 
			</if>
		ORDER BY
			PAYDAY DESC
    </select>
    
    <select id="getSalaryListMinMaxDate" resultType="map">
     <!-- getSalaryInputMinMaxDate - 급여조회에서 최대최소일 조회 -->
        SELECT 
		      MAX(PAYDAY)	AS SALARY_MAX_DATE
    		, MIN(PAYDAY) 	AS SALARY_MIN_DATE
		FROM
		      SALARY
	    WHERE
			  1 = 1
		  <if test='id != "admin"'>
			  AND
				 member_id = #{id}
		  </if>
    </select>
    
    <select id="selectSalaryListById" resultType="map">
    <!-- 사원ID에 해당하는 급여정보를 조회 -->
		SELECT 
		      MEMBER_ID
		    , GRADE_ID 
		    , PAYDAY
		    , POSITION_BONUS
		    , HOLIDAY_BONUS
		    , NIGHT_BONUS
		    , YEAREND_BONUS
		    , FULLSERVICE_BONUS
		    , PERFORMANCE_BONUS
		    , TOTAL
		FROM 
			SALARY
		WHERE 
			MEMBER_ID = #{id}
		
		<!-- WHERE MEMBER_ID = '202501030001' -->
    </select>
    
    <!-- 사원별 급여 입력(관리자) -->
<!--	<insert id="insertSalary" useGeneratedKeys="true" keyProperty="ID"> -->
<!--		INSERT INTO SALARY -->
<!--	    VALUES-->
	    
<!-- 	</insert> -->

</mapper>