<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클 MyBatis 사용시 문장 끝에 세미콜론 있으면 오류남! -->

<mapper namespace="com.itwillbs.repository.SalaryMapper">
<!--    <select id="selectTest" resultType="string">-->
<!--        SELECT -->
<!--        	  TO_CHAR(SYSDATE, 'yyyy-mm-dd')-->
<!--  		  FROM -->
<!--  			  dual-->
<!--    </select>-->

    <select id="selectSalaryList" resultType="map">
        select 
        	  * 
          from 
        	  salary_history
    </select>
    
    <!-- getSalaryHistoryMinMaxDate 지급받은 급여 목록에서 최대최소일 조회 -->
    <select id="getSalaryHistoryMinMaxDate" resultType="map">
	    SELECT 
		      MAX(TO_CHAR(PAYDAY, 'YYYY-MM-DD')) AS salary_max_date
		    , MIN(TO_CHAR(PAYDAY, 'YYYY-MM-DD')) AS salary_min_date
	  FROM
	      salary_history
	 WHERE
	 	  1 = 1
    </select>
    
    
    
</mapper>