<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클 MyBatis 사용시 문장 끝에 세미콜론 있으면 오류남! -->

<mapper namespace="com.itwillbs.repository.TestMapper">
    <select id="selectTest" resultType="string">
        SELECT 
        	  TO_CHAR(SYSDATE, 'yyyy-mm-dd')
  		  FROM 
  			  dual
    </select>

    <select id="selectToastTest" resultType="map">
        select *
          from test
    </select>
    
    <insert id="insertToastTest">
	    INSERT ALL
		<foreach collection="list" item="item">
			INTO TEST (ID, COL_1, COL_2, COL_3)
				VALUES (#{item.ID}, #{item.COL_1}, #{item.COL_2}, #{item.COL_3})
		</foreach>
		SELECT * FROM DUAL
    </insert>
</mapper>