<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클 MyBatis 사용시 문장 끝에 세미콜론 있으면 오류남! -->

<mapper namespace="com.itwillbs.repository.WarehouseMapper">
    <select id="selectWarehouse" resultType="map">
		SELECT
			  WAREHOUSE_ID
			, WAREHOUSE_NAME
			, WAREHOUSE_TYPE
			, LOCATION_COUNT
			, WAREHOUSE_STATUS 
		FROM WAREHOUSE
		ORDER BY WAREHOUSE_ID ASC
    </select>
 
    <insert id="insertWarehouse">
		INSERT ALL
		    <foreach collection="list" item="item">
		        INTO WAREHOUSE (
		              WAREHOUSE_ID
		            , WAREHOUSE_NAME
		            , WAREHOUSE_TYPE
		            , WAREHOUSE_STATUS
		        )
		        VALUES (
		              #{item.WAREHOUSE_ID}
		            , #{item.WAREHOUSE_NAME}
		            , #{item.WAREHOUSE_TYPE} 
		            , #{item.WAREHOUSE_STATUS}
		        )
		    </foreach>
		SELECT * FROM DUAL
    </insert>
    
    <update id="updateWarehouse">
		<foreach collection="list" item="row" separator=";" open="DECLARE BEGIN" close="; END;">
	        UPDATE WAREHOUSE
	           SET 
	               WAREHOUSE_ID = #{row.WAREHOUSE_ID}
	             , WAREHOUSE_NAME = #{row.WAREHOUSE_NAME}
	             , WAREHOUSE_TYPE = #{row.WAREHOUSE_TYPE}
	             , WAREHOUSE_STATUS = #{row.WAREHOUSE_STATUS}
	         WHERE WAREHOUSE_ID = #{row.WAREHOUSE_ID}
	    </foreach>
    </update>
    
    <delete id="deleteWarehouse">
	    DELETE FROM WAREHOUSE
	     WHERE WAREHOUSE_ID IN
	    <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
	        #{id}
	    </foreach>
    </delete>
    
    <select id="checkDuplicateWhseCode">
    	SELECT count(*) AS COUNT
		  FROM WAREHOUSE
		 WHERE WAREHOUSE_ID = #{WAREHOUSE_ID}
    </select> 
    
    <select id="checkDuplicateLocationCode">
    	SELECT count(*) AS COUNT
		  FROM ITEM_LOCATION
		 WHERE LOCATION_ID = #{LOCATION_ID}
    </select> 
    
    <select id="selectLocation" resultType="map">
		SELECT 
			   LOCATION_ID
			 , LOCATION_NAME
			 , MATERIAL_ID
			 , LOCATION_ORDER
			 , TO_CHAR(CURRENT_QUANTITY, 'FM999,999,999,999') AS CURRENT_QUANTITY
			 , USE_YN
		  FROM ITEM_LOCATION
		 WHERE
		 	   1 = 1
		<choose>
			<when test='warehouse_id != null and warehouse_id != ""'>
				AND WAREHOUSE_ID = #{warehouse_id}
			</when>
			<otherwise>
				AND WAREHOUSE_ID IS NULL
			</otherwise>
		</choose>
    </select>
    
  <update id="addLocation">
    <foreach collection="list" item="item" open="DECLARE BEGIN" separator=";" close="; END;">
        UPDATE ITEM_LOCATION
        SET LOCATION_NAME = #{item.LOCATION_NAME}
          , MATERIAL_ID = #{item.MATERIAL_ID}
          , LOCATION_ORDER = #{item.LOCATION_ORDER}
          , CURRENT_QUANTITY = TO_NUMBER(#{item.CURRENT_QUANTITY})  <!-- 숫자로 변환 -->
          , USE_YN = #{item.USE_YN}
        WHERE LOCATION_ID = #{item.LOCATION_ID}  <!-- LOCATION_ID 추가 -->
          AND WAREHOUSE_ID = #{item.WAREHOUSE_ID};
    </foreach>
</update>
    
	<update id="deleteLocation">
		<foreach collection="list" item="item" open="DECLARE BEGIN" separator=";" close="; END;">
		    UPDATE EQUIPMENT 
			   SET WORKCENTER_ID = NULL
			 WHERE EQUIPMENT_ID = #{item}
		</foreach>
    </update>
    
</mapper>